<!-- Author: Cadin Londono-->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <div class="col d-flex justify-content-center w-100" > 
            <p:panel id="addbookform" class="w-100" header="#{msg.Add_New_Book_Form}">
                <h:form enctype="multipart/form-data" class="w-100">
                    <h:panelGrid  columns="4" cellpadding="5">
                        <h:outputLabel for="coverImage" value="#{msg.Cover_Image} " style="font-weight:bold"/>
                        <p:fileUpload id="coverImage" value="#{bookFormBackingBean.image}"  mode="simple" skinSimple="true" />
                        <p:commandButton value="#{msg.Upload_Image}" action="#{bookFormBackingBean.uploadFile}" process="@form" ajax="false"/>
                        <h:outputText id="imageStatus" value="#{bookFormBackingBean.fileName}" />
                    </h:panelGrid>
                </h:form>
                <h:form id="mainForm" class="w-100">
                    <h:panelGrid  columns="3" cellpadding="5">

                         
                        <h:outputLabel for="ISBN" value="#{msg.ISBN}:"  style="font-weight:bold"/>
                        <h:inputText id="ISBN" value="#{bookFormBackingBean.book.isbn}"  size="60">
                        <f:validateLength minimum = "13" maximum = "13" />
                            <f:ajax event="valueChange" render="isbnError" />
                        </h:inputText>
                        <h:message id="isbnError" for="ISBN" style = "color:red" />


                        <h:outputLabel for="Title" value="#{msg.Title}:" style="font-weight:bold"/>
                        <p:inputText id="Title" value="#{bookFormBackingBean.book.title}" required="true" label="text" size="60">
                            <f:ajax event="valueChange" render="titleError" />
                        </p:inputText>
                        <h:message id="titleError" for="Title" style = "color:red" />

                        <h:outputLabel for="Description" value="#{msg.Description}:" style="font-weight:bold"/>
                        <p:inputTextarea id="Description" rows="6" cols="80" value="#{bookFormBackingBean.book.description}" required="true" label="text">
                            <f:ajax event="valueChange" render="descriptionError" />
                        </p:inputTextarea>
                        <h:message id="descriptionError" for="Description" style = "color:red" />

                        <h:outputLabel for="PublicationDate" value="#{msg.Publication_Date}" style="font-weight:bold" />
                        <p:datePicker id="PublicationDate" value="#{bookFormBackingBean.book.publicationDate}"  pattern="dd-MM-yyyy">
                            <f:ajax event="valueChange" render="publicationDateError"/>
                        </p:datePicker>
                        <h:message id="publicationDateError" for="PublicationDate" style = "color:red" /> 

                        <h:outputLabel for="NumberOfPages" value="#{msg.Number_Of_Pages}" style="font-weight:bold"/>
                        <p:spinner id="NumberOfPages" min="0" value="#{bookFormBackingBean.book.numberOfPages}">
                            <f:ajax event="valueChange" render="numberOfPagesError" />
                        </p:spinner>
                        <h:message id="numberOfPagesError" for="NumberOfPages" style = "color:red" />

                        <h:outputLabel for="WholesalePrice" value="#{msg.Wholesale_Price}" style="font-weight:bold"/>
                        <p:spinner id="WholesalePrice" min="0" prefix="$" value="#{bookFormBackingBean.book.wholeSalePrice}" stepFactor="0.01">
                            <f:ajax event="valueChange" render="wholesalePriceError" />
                        </p:spinner>
                        <h:message id="wholesalePriceError" for="WholesalePrice" style = "color:red" />

                        <h:outputLabel for="ListPrice" value="#{msg.List_Price}" style="font-weight:bold"/>
                        <p:spinner  id="ListPrice" min="0" prefix="$" value="#{bookFormBackingBean.book.listPrice}" stepFactor="0.01">
                            <f:ajax event="valueChange" render="listPriceError" />
                        </p:spinner>
                        <h:message id="listPriceError" for="ListPrice" style = "color:red" />

                        <h:outputLabel for="Authors" value="#{msg.Authors}" style="font-weight:bold"/>
                        <p:selectCheckboxMenu id="Authors" value="#{bookFormBackingBean.book.authorList}" label="Authors" multiple="true" 
                                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                            <f:selectItems value="#{authorJpaController.findAuthorEntities()}" />
                            <f:ajax event="change" render="authorError" />
                        </p:selectCheckboxMenu>
                        <h:message id="authorError" for="Authors" style = "color:red" />

                        <h:outputLabel for="AddAuthor" value="#{msg.Add_Author}" />
                        <p:inputText id="AddAuthor" value="#{bookFormBackingBean.newAuthor}" size="40">
                            <f:ajax event="valueChange" render="AddAuthorError"/>
                        </p:inputText>
                        <div>
                            <h:message id="AddAuthorError" for="AddAuthor" style="color:red"/>
                            <p:commandButton value="Add Author" process="@this" update="@form" action="#{bookFormBackingBean.createNewAuthor}"/>
                        </div>

                        <h:outputLabel for="Publisher" value="#{msg.Publisher} " style="font-weight:bold"/>
                        <p:selectOneMenu id="Publisher" value="#{bookFormBackingBean.publisherName}"  editable="true"
                                         filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                            <f:selectItems var="publisher" value="#{publisherJpaController.findPublisherEntities()}" itemValue="#{publisher.publisherName}" />
                            <f:ajax event="valueChange" render="publisherError" />
                        </p:selectOneMenu>  
                        <h:message id="publisherError" for="Publisher" style = "color:red" />

                        <h:outputLabel for="Formats" value="#{msg.Formats} " style="font-weight:bold"/>
                        <p:selectCheckboxMenu id="Formats" value="#{bookFormBackingBean.book.formatList}" label="Formats" multiple="true"
                                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                            <f:selectItems value="#{formatJpaController.findFormatEntities()}" />
                            <f:ajax event="change" render="formatsError" />
                        </p:selectCheckboxMenu> 
                        <h:message id="formatsError" for="Formats" style = "color:red" />

                        <h:outputLabel for="AddFormat" value="#{msg.Add_Format}"/>
                        <p:inputText id="AddFormat" value="#{bookFormBackingBean.newFormat}" size="40">
                            <f:ajax event="valueChange" render="AddAuthorError"/>
                        </p:inputText>
                        <div>
                            <h:message id="AddFormatError" for="AddFormat" style="color:red"/>
                            <p:commandButton value="Add Format" process="@this" update="@form" action="#{bookFormBackingBean.createNewFormat}"/>
                        </div>


                        <h:outputLabel for="Genre" value="#{msg.Genre} " style="font-weight:bold"/>
                        <p:selectOneMenu id="Genre" value="#{bookFormBackingBean.genreTitle}" label="Genre"  editable="true"
                                         filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                            <f:selectItems var="genre" value="#{genreJpaController.findGenreEntities()}" itemValue="#{genre.genreTitle}"/>
                            <f:ajax event="change" render="genreError" />
                        </p:selectOneMenu>
                        <h:message id="genreError" for = "Genre" style = "color:red" />
                        
                        <p:commandButton value="#{msg.Submit}" process="@form" update="growl" action="#{bookFormBackingBean.saveBook}"/>

                    </h:panelGrid>  
                    <p:growl id="growl" showDetail="true" sticky="true" /> 
                </h:form> 
            </p:panel>
        </div>
</ui:composition>