<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:panel id="adscontainer" class="w-100" header="#{msg.Current_Ads}">
            <h:form class="w-100">
                <p:growl id="topgrowl" showDetail="true" sticky="true" >
                    <p:autoUpdate />
                </p:growl>
                <p:dataTable var="ad" id="adsDataTable" value="#{advertisementManagementBackingBean.advertisements}" editable="true">
                    <p:ajax event="rowEdit" listener="#{advertisementManagementBackingBean.editAdvertisement(ad)}" />
                    <p:ajax event="rowEditCancel" />
                    <p:column headerText="#{msg.Image}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:graphicImage value="#{ad.imgUrl}" styleClass="content" width="100" height="166"/> 
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="ImgURL" value="#{ad.imgUrl}">
                                    <f:validateLength maximum="500"/>
                                    <f:ajax event="valueChange" render="ImgURLError" />
                                </p:inputText>
                                <h:message id="ImgURLError" for="ImgURL" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.Site_Url}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputLink value="#{ad.siteUrl}">
                                    #{ad.siteUrl}
                                </h:outputLink>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="SiteURL" value="#{ad.siteUrl}">
                                    <f:validateLength maximum="500"/>
                                    <f:ajax event="valueChange" render="SiteURLError" />
                                </p:inputText>
                                <h:message id="SiteURLError" for="SiteURL" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.From}" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{ad.startDate}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:datePicker id="StartDate" value="#{ad.startDate}">
                                    <f:ajax event="valueChange" render="StartDateError" />
                                </p:datePicker>
                                <h:message id="StartDateError" for="StartDate" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.To}" >
                        <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{ad.endDate}"/>
                        </f:facet>
                        <f:facet name="input">
                                <p:datePicker id="EndDate" value="#{ad.endDate}">
                                    <f:ajax event="valueChange" render="EndDateError" />
                                </p:datePicker>
                                <h:message id="EndDateError" for="EndDate" style = "color:red" />
                        </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width:35px">
                        <p:rowEditor />
                    </p:column>
                    <p:column headerText="#{msg.Active}" >
                        <p:toggleSwitch id="adActive" value="#{ad.adsActive}">
                            <p:ajax listener="#{advertisementManagementBackingBean.editAdvertisement(ad)}" update="@form" />
                        </p:toggleSwitch>
                    </p:column>
                    <p:column headerText="#{msg.Delete}" >
                    <p:commandButton value="#{msg.Delete}" action="#{advertisementManagementBackingBean.deleteAdvertisement(ad)}" update="@form"/>
                </p:column>
                </p:dataTable>
                <p:commandButton value="#{msg.Add_Advertisement}" styleClass="ui-priority-primary" process="@form" update="@form"
                                 action="#{advertisementManagementBackingBean.addNewAdvertisement}"/>
            </h:form>
        </p:panel>
</ui:composition>