<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    #{salesBackingBean.setBook(bookJpaController.findBook(param['isbn']))}
    <p:panel header="#{msg.Manage_Sales}">
        <h:form id="mainForm" class="w-100">
            <h:panelGrid  columns="3" cellpadding="5">

                <h:outputLabel for="Title" value="#{msg.Title}:"  style="font-weight:bold"/>
                <h:outputText id="Title" value="#{salesBackingBean.book.title}">
                </h:outputText>
                <p></p>

                <h:outputLabel for="SalePercentage" value="#{msg.Sale_Percentage}" style="font-weight:bold"/>
                <p:spinner id="SalePercentage" min="1" prefix="%" value="#{salesBackingBean.specialBook.percentage}" stepFactor="1" required="true">
                    <f:ajax event="valueChange" render="SalePercentageErrorE"/>
                </p:spinner>
                <h:message id="SalePercentageError" for="SalePercentage" style = "color:red"/>

                <h:outputLabel for="StartingDate" value="#{msg.Sale_Start_Date}" style="font-weight:bold" />
                <p:datePicker id="StartingDate" value="#{salesBackingBean.specialBook.startDate}"  pattern="dd-MM-yyyy" required="true">
                    <f:ajax event="valueChange" render="StartingDateError" />
                </p:datePicker>
                <h:message id="StartingDateError" for="StartingDate" style = "color:red"/>

                <h:outputLabel for="EndDate" value="#{msg.Sale_End_Date}" style="font-weight:bold" />
                <p:datePicker id="EndDate" value="#{salesBackingBean.specialBook.endDate}"  pattern="dd-MM-yyyy" required="true">
                    <f:ajax event="valueChange" render="EndDateError"/>
                </p:datePicker>
                <h:message id="EndDateError" for="EndDate" style = "color:red"/>

                <p:commandButton value="#{msg.Submit}" process="@form" ajax="false" action="#{salesBackingBean.addNewSale}">
                    <f:param name="isbn" value="#{param['isbn']}" />
                </p:commandButton>

            </h:panelGrid>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
        <h:form>
            <h:outputLabel for="currentBookSales" value="#{msg.All_Book_Sales}"/>
            <p:dataTable id="currentBookSales" var="currentSales" value="#{salesBackingBean.book.specialBookList}" class="w-75">
                <p:column headerText="#{msg.Sale_Percentage}">
                    <h:outputText id="salePercentage" value="#{currentSales.percentage}%"/>
                </p:column>
                <p:column headerText="#{msg.Sale_Start_Date}">
                    <h:outputText id="saleStartingDate" value="#{currentSales.startDate}"/>
                </p:column>
                <p:column headerText="#{msg.Sale_End_Date}">
                    <h:outputText id="saleEndDate" value="#{currentSales.endDate}"/>
                </p:column>
                <p:column headerText="#{msg.Delete}">
                    <p:commandButton value="#{msg.Delete}" ajax="false" action="#{salesBackingBean.deleteSpecialBookSale(currentSales)}">
                        <f:param name="isbn" value="#{param['isbn']}" />

                    </p:commandButton>

                </p:column>
            </p:dataTable>

        </h:form>
    </p:panel>
</ui:composition>
