<!-- Author: Cadin Londono-->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
     <div class="row w-100">
            <p:panel id="addbookscontainer" class="w-100">
                <p:linkButton outcome="addbook.xhtml" value="#{msg.Add_New_Book}" style="margin-right:20px;">
                </p:linkButton>
            </p:panel>
        </div>
        <div class="row w-100">

            <p:panel id="bookscontainer" class="w-100">
                <h:form class="w-100">

                    <p:dataTable var="book" value="#{allBooksBackingBean.books}" widgetVar="bookTable" filteredValue="#{allBooksBackingBean.filteredBooks}">

                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText value="#{msg.Search_All_Fields}" />
                                <p:inputText id="globalFilter" onkeyup="PF('bookTable').filter()" style="width:150px" placeholder="#{msg.Enter_Keyword}"/>
                            </p:outputPanel>
                        </f:facet>
                        <p:column headerText="#{msg.Cover_Image}">
                            <p:graphicImage value="/#{book.imageFile}" styleClass="content" width="100" height="166"/> 
                        </p:column>
                        <p:column headerText="#{msg.ISBN}"  filterBy="#{book.isbn}" filterMatchMode="contains">
                            <h:outputText value="#{book.isbn}" />
                        </p:column>
                        <p:column headerText="#{msg.Title}" filterBy="#{book.title}" filterMatchMode="contains" >
                            <h:outputText value="#{book.title}" />
                        </p:column>

                        <p:column headerText="#{msg.Edit}">
                            <p:linkButton outcome="bookedit.xhtml" value="#{msg.Edit}" style="margin-right:20px;">
                                <f:param name="isbn" value="#{book.isbn}" />
                            </p:linkButton>
                        </p:column>
                        <p:column headerText="#{msg.Remove_Status}" sortBy="#{book.removalStatus}">
                            <p:toggleSwitch value="#{book.removalStatus}">
                                <p:ajax listener="#{bookJpaController.edit(book)}" update="@form" />
                            </p:toggleSwitch>
                        </p:column>
                        <p:column headerText="#{msg.Total_Sales}">
                            <h:outputText value="$#{bookJpaController.getBookTotalSales(book)}" />
                        </p:column>

                    </p:dataTable>
                </h:form>
            </p:panel>
        </div>
</ui:composition>
