<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:panel id="clientcontainer" class="w-100" header="#{msg.Manage_Clients}">
                <h:form class="w-100">
                    <p:dataTable var="client" widgetVar="clientTable" value="#{allClientsBackingBean.allClients}">
                        
                        <f:facet name="header">
                            <p:outputPanel>
                                <h:outputText value="#{msg.Search_All_Fields}" />
                                <p:inputText id="globalFilter" onkeyup="PF('clientTable').filter()" style="width:150px" placeholder="#{msg.Enter_Keyword}"/>
                            </p:outputPanel>
                        </f:facet>
                        
                        <p:column headerText="#{msg.Client_Name}" filterBy="#{client.lastName} #{client.firstName}" filterMatchMode="contains">
                            <h:outputText value="#{client.lastName} #{client.firstName}"/>
                        </p:column>
                        <p:column headerText="#{msg.Edit}">
                            <p:linkButton outcome="clientedit.xhtml" value="#{msg.Edit}" style="margin-right:20px;">
                                <f:param name="id" value="#{client.id}" />
                            </p:linkButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
        </p:panel>
</ui:composition>