<!-- Author: Cadin Londono-->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    #{clientEditBackingBean.setUpClientToEdit(clientJpaController.findClient(param['id']))}
        <p:panel id="clientAccountDetails" header="#{msg.Client_Details}" class="w-100">
            <h:form class="w-100">
                <h:panelGrid  columns="3" cellpadding="10">

                    <h:outputLabel for="Manager" value="#{msg.Management}:" style="font-weight:bold"/>
                    <p:toggleSwitch id="Manager" value="#{clientEditBackingBean.client.manager}" required="true">
                        <f:ajax event="change" render="ManagerError"/>
                    </p:toggleSwitch>
                    <h:message id="ManagerError" for="Manager"/>
                    
                    <h:outputLabel for="Title" value="#{msg.Title}:" style="font-weight:bold"/>
                    <p:selectOneMenu id="Title" value="#{clientEditBackingBean.client.title}" style="width:125px" required="true">
                        <f:selectItem itemLabel="#{msg.Registration_Mr}" itemValue="mr" />
                        <f:selectItem itemLabel="#{msg.Registration_Ms}" itemValue="ms" />
                        <f:selectItem itemLabel="#{msg.Registration_Mrs}" itemValue="mrs" />
                        <f:selectItem itemLabel="#{msg.Registration_Mx}" itemValue="mx" />
                        <f:ajax event="valueChange" render="TitleError" />
                    </p:selectOneMenu>
                    <h:message id="TitleError" for="Title" style = "color:red" />

                    <h:outputLabel for="LastName" value="#{msg.Registration_LastName}:"  style="font-weight:bold"/>
                    <p:inputText id="LastName" value="#{clientEditBackingBean.client.lastName}" required="true" >
                        <f:ajax event="valueChange" render="LastNameError" />
                    </p:inputText>
                    <h:message id="LastNameError" for="LastName" style = "color:red" />


                    <h:outputLabel for="FirstName" value="#{msg.Registration_FirstName}:"  style="font-weight:bold"/>
                    <p:inputText id="FirstName" value="#{clientEditBackingBean.client.firstName}" required="true">
                        <f:ajax event="valueChange" render="FirstNameError" />
                    </p:inputText>
                    <h:message id="FirstNameError" for="FirstName" style = "color:red" />

                    <h:outputLabel for="Email" value="#{msg.Registration_Email}:"  style="font-weight:bold" />
                    <p:inputText id="Email" value="#{clientEditBackingBean.client.email}"  validatorMessage="#{msg.Registration_Invalid}" required="true">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        <f:ajax event="valueChange" render="EmailError" />
                    </p:inputText>
                    <h:message id="EmailError" for="Email" style = "color:red" />

                    <h:outputLabel for="Address1" value="#{msg.Registration_Address1}:"  style="font-weight:bold" />
                    <p:inputText id="Address1" value="#{clientEditBackingBean.client.address1}" required="true">
                        <f:validateLength maximum="500"/>
                        <f:ajax event="valueChange" render="Address1Error" />
                    </p:inputText>
                    <h:message id="Address1Error" for="Address1" style = "color:red" />

                    <h:outputLabel for="Address2" value="#{msg.Registration_Address2}:"  style="font-weight:bold"/>
                    <p:inputText id="Address2" value="#{clientEditBackingBean.client.address2}" >
                        <f:validateLength maximum="500"/>
                        <f:ajax event="valueChange" render="Address2Error" />
                    </p:inputText>
                    <h:message id="Address2Error" for="Address2" style = "color:red" />

                    <h:outputLabel for="HomePhone" value="#{msg.Registration_HomePhone}:"  style="font-weight:bold"/>
                    <p:inputText id="HomePhone" value="#{clientEditBackingBean.client.homeTelephone}" validatorMessage="#{msg.Registration_Invalid}" required="true">                            
                        <f:validateLength maximum="45"/>
                        <f:validateRegex pattern="^[0-9]{10,20}$"/>
                        <f:ajax event="valueChange" render="HomePhoneError" />
                    </p:inputText>
                    <h:message id="HomePhoneError" for="HomePhone" style = "color:red" />

                    <h:outputLabel for="CellPhone" value="#{msg.Registration_CellPhone}:"  style="font-weight:bold"/>
                    <p:inputText id="CellPhone" value="#{clientEditBackingBean.client.cellTelephone}" validatorMessage="#{msg.Registration_Invalid}" required="true">                            
                        <f:validateLength maximum="45"/>
                        <f:validateRegex pattern="^[0-9]{10,20}$"/>
                        <f:ajax event="valueChange" render="CellPhoneError" />
                    </p:inputText>
                    <h:message id="CellPhoneError" for="CellPhone" style = "color:red" />

                    <h:outputLabel for="CompanyName" value="#{msg.Registration_Company}:"  style="font-weight:bold"/>
                    <p:inputText id="CompanyName" value="#{clientEditBackingBean.client.companyName}" >                            
                        <f:validateLength maximum="45"/>
                        <f:ajax event="valueChange" render="CompanyNameError" />
                    </p:inputText>
                    <h:message id="CompanyNameError" for="CompanyName" style = "color:red" />

                    <h:outputLabel for="City" value="#{msg.Registration_City}:"  style="font-weight:bold"/>
                    <p:inputText id="City" value="#{clientEditBackingBean.client.city}" required="true">                            
                        <f:validateLength maximum="100"/>
                        <f:ajax event="valueChange" render="CityError" />
                    </p:inputText>
                    <h:message id="CityError" for="City" style = "color:red" />

                    <h:outputLabel for="ProvinceTerritory" value="#{msg.Registration_Province}:"  style="font-weight:bold"/>
                    <p:selectOneMenu id="ProvinceTerritory" required="true" value="#{clientEditBackingBean.provinceName}" >
                        <f:selectItem itemValue="Alberta" itemLabel="#{msg.Registration_AB}"/>
                        <f:selectItem itemValue="British Columbia" itemLabel="#{msg.Registration_BC}"/>
                        <f:selectItem itemValue="Manitoba" itemLabel="#{msg.Registration_MB}"/>
                        <f:selectItem itemValue="New Brunswick" itemLabel="#{msg.Registration_NB}"/>
                        <f:selectItem itemValue="Newfoundland and Labrador" itemLabel="#{msg.Registration_NL}"/>
                        <f:selectItem itemValue="Northwest Territories" itemLabel="#{msg.Registration_NWT}"/>
                        <f:selectItem itemValue="Nova Scotia" itemLabel="#{msg.Registration_NS}"/>
                        <f:selectItem itemValue="Nunavut" itemLabel="#{msg.Registration_NV}"/>
                        <f:selectItem itemValue="Ontario" itemLabel="#{msg.Registration_ON}"/>
                        <f:selectItem itemValue="Prince Edward Island" itemLabel="#{msg.Registration_PEI}"/>
                        <f:selectItem itemValue="Quebec" itemLabel="#{msg.Registration_QC}"/>
                        <f:selectItem itemValue="Saskatchewan" itemLabel="#{msg.Registration_SK}"/>
                        <f:selectItem itemValue="Yukon" itemLabel="#{msg.Registration_YK}"/>
                        <f:validateRequired/>
                        <f:ajax event="valueChange" render="ProvinceError" />
                    </p:selectOneMenu>                        
                        <h:message id="ProvinceError" for="ProvinceTerritory" style = "color:red" />

                        <h:outputLabel for="PostalCode" value="#{msg.Registration_PostalCode}:"  style="font-weight:bold"/>
                        <p:inputText id="PostalCode" value="#{clientEditBackingBean.client.postalCode}" required="true">                                
                            <f:validateLength minimum="6" maximum="6"/>
                            <f:validateRegex pattern="[a-zA-Z][0-9][a-zA-Z][0-9][a-zA-Z][0-9]" />
                            <f:ajax event="valueChange" render="PostalCodeError" />
                        </p:inputText>
                        <h:message id="PostalCodeError" for="City" style = "color:red" />
                    
                        <p:commandButton value="#{msg.Submit}" process="@form" update="growl" action="#{clientEditBackingBean.saveEditingOfClientInfo}">
                        </p:commandButton>
                        
                </h:panelGrid>
                <p:growl id="growl" showDetail="true" sticky="true" /> 
            </h:form>
        </p:panel>
</ui:composition>