<!-- Author: Thomas Ouellette -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form class="col" style="padding-left: 0px;">
        <div class="col d-flex justify-content-center"> 

            #{orderEditBackingBean.setOrder(orderJpaController.findOrder(param['order']))}

            <p:panel id="order_details" header="#{msg.Order_number}#{orderEditBackingBean.order.id}" class="w-100">
                <h:panelGrid  columns="2">
                    <h:outputLabel for="firstname" value="#{msg.Registration_FirstName}: "  style="font-weight:bold; margin-bottom: 0px; width: 150px"/>
                    <h:outputText id="firstname" value="#{orderEditBackingBean.order.clientId.firstName}" >
                    </h:outputText>
                    <h:outputLabel for="lastname" value="#{msg.Registration_LastName}: "  style="font-weight:bold; margin-bottom: 0px; width: 150px"/>
                    <h:outputText id="lasttname" value="#{orderEditBackingBean.order.clientId.lastName}" >
                    </h:outputText>
                </h:panelGrid>
                <h:panelGrid  columns="3">
                    <h:outputLabel for="order_date" value="#{msg.Date}: " style="font-weight:bold; margin-bottom: 0px; width: 150px"/>
                    <p:datePicker id="order_date" value="#{orderEditBackingBean.order.orderDate}"  pattern="dd-MM-yyyy HH:mm z" showTime="true">
                        <f:ajax event="valueChange" render="orderDateError"/>
                    </p:datePicker>
                    <h:message id="orderDateError" for="order_date" style = "color:red" /> 
                    <h:outputLabel for="tax_charged" value="#{msg.Tax_Charged}: " style="font-weight:bold; margin-bottom: 0px; width: 150px"/>
                    <h:outputText id="tax_charged" value="#{orderEditBackingBean.provincialTaxCharged}%" />
                    <p></p>
                    <h:outputLabel for="change_tax" value="#{msg.Change_Tax_To}: " style="font-weight:bold; margin-bottom: 0px; width: 150px"/>
                    <p:selectOneMenu id="change_tax" value="#{orderEditBackingBean.provinceId}"  editable="true"
                                     filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                        <f:selectItem itemValue="#{0}" itemLabel="- selected -" />
                        <f:selectItems var="province" value="#{provinceJpaController.findProvinceEntities()}" itemValue="#{province.id}" itemLabel="#{province.provinceName}" />
                        <f:selectItem itemValue="#{-1}" itemLabel="**#{msg.Remove_Tax}**"/>
                        <f:ajax event="valueChange" render="publisherError" />
                    </p:selectOneMenu> 
                    <p></p>
                    <br/>
                </h:panelGrid>
                <p:dataTable id="book_table" var="order_book" value="#{orderEditBackingBean.order.orderBookList}" sortBy="#{order_book.PSTpercentage}">
                    <f:facet name="header">
                        #{msg.BooksOfGenre_Books}
                    </f:facet>

                    <p:column headerText="#{msg.Cover_Image}" style="width: 100px">
                        <p:graphicImage value="/#{order_book.book.imageFile}" styleClass="content" height="100px"/>
                    </p:column>

                    <p:column headerText="#{msg.ISBN}" style="width: 150px">
                        <h:outputText value="#{order_book.book.isbn}" />
                    </p:column>

                    <p:column headerText="#{msg.Title}">
                        <h:outputText value="#{order_book.book.title}" />
                    </p:column>

                    <p:column headerText="#{msg.Price}">
                        <h:outputText value="#{order_book.price}" />
                    </p:column>

                    <p:column headerText="#{msg.Removed}" style="text-align: center">
                        <p:toggleSwitch value="#{order_book.removalStatus}" />
                    </p:column>

                    <p:summaryRow>
                        <p:column colspan="3" style="text-align:right">
                            <h:outputText value="subtotal:" />
                            <br/>
                            <br/>
                            <h:outputText value="PST(#{order_book.PSTpercentage}%)" />
                            <br/>
                            <br/>
                            <h:outputText value="GST(#{order_book.GSTpercentage}%)" />
                            <br/>
                            <br/>
                            <h:outputText value="HST(#{order_book.HSTpercentage}%)" />
                            <br/>
                            <br/>
                            <h:outputText value="Total" />
                        </p:column>
                        <p:column>
                            <h:outputText value="#{orderEditBackingBean.order.totalPrice - orderEditBackingBean.order.totalGST - orderEditBackingBean.order.totalHST - orderEditBackingBean.order.totalPST}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="#{orderEditBackingBean.order.totalPST}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="#{orderEditBackingBean.order.totalGST}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="#{orderEditBackingBean.order.totalHST}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                            <br/>
                            <br/>
                            <h:outputText value="#{orderEditBackingBean.order.totalPrice}">
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p:column>
                    </p:summaryRow>
                </p:dataTable>
                <p:commandButton ajax="true" value="#{msg.Update}" process="@form" update="growl" action="#{orderEditBackingBean.editOrder}" style="padding: 10px; margin-top: 10px"/>
                <p:growl id="growl" showDetail="true" sticky="true" /> 
            </p:panel>
        </div>
    </h:form>
</ui:composition>