<!-- Author: Thomas Ouellette -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:panel id="container" >
        <p:panel id="basic" header="Welcome, #{sessionScope.client.firstName} #{sessionScope.client.lastName}!" style="margin-bottom:20px">
            <h4>#{msg.Welcome_Title}</h4>
            <div style="word-wrap: break-word; width: 60%;">
                <h:outputText value="#{msg.Welcome_Text}"/>
            </div>
            <p:dataList value="#{msg.Task_List.split(';')}" var="item" style="margin-top: 20px">
                #{item}
            </p:dataList>
        </p:panel>
    </p:panel>
</ui:composition>
