<!-- Author: Thomas Ouellette -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form class="col" style="padding-left: 0px;">
        <p:dataTable id="reviews_table" var="review" value="#{reviewBackingBean.reviews}" sortMode="multiple">
            <f:facet name="header">
                #{msg.Reviews}
            </f:facet>
            <p:column headerText="#{msg.Review_Text}" sortBy="#{review.reviewText}">
                <h:outputText value="#{review.reviewText}" />
            </p:column>
            <p:column headerText="#{msg.User}" sortBy="#{review.client.lastName}">
                <h:outputText value="#{review.client.firstName} #{review.client.lastName}" />
            </p:column>
            <p:column headerText="#{msg.Rating}" sortBy="#{review.rating}" style="width:120px">
                <h:outputText value="#{review.rating}" />
            </p:column>
            <p:column headerText="#{msg.Date}" sortBy="#{review.reviewDate}">
                <h:outputText value="#{review.reviewDate}" >
                    <f:convertDateTime pattern="MMMM dd, yyyy HH:mm a" />
                </h:outputText>
            </p:column>
            <p:column headerText="#{msg.Approved}" sortBy="#{review.approved}" style="width:120px; text-align: center">
                <p:toggleSwitch value="#{review.approved}">
                    <p:ajax listener="#{reviewBackingBean.editReview(review)}" update="@form" />
                </p:toggleSwitch>
            </p:column>
            <p:column headerText="#{msg.Delete}" style="width:90px">
                <p:commandButton icon="ui-icon-trash"
                                 title="Delete this review"
                                 actionListener="#{reviewBackingBean.deleteReview(review)}"
                                 ajax="true"
                                 update="@form"/>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>
