<!-- Author: Thomas Ouellette -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form class="col" style="padding-left: 0px;">
        <p:dataTable id="orders_table" var="order" value="#{orderBackingBean.orders}" sortMode="multiple"
                     emptyMessage="No orders found with given criteria"  widgetVar="orders_table" editable="true">
            <f:facet name="header">
                #{msg.Orders}
            </f:facet>

            <p:column headerText="#{msg.Order_number}" sortBy="#{order.id}" filterBy="#{order.id}" filterMatchMode="contains" style="width:120px">
                <h:outputText value="#{order.id}" />
            </p:column>

            <p:column headerText="#{msg.Registration_FirstName}" sortBy="#{order.clientId.firstName}" filterBy="#{order.clientId.firstName}" filterMatchMode="contains" style="width:150px">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{order.clientId.firstName}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{order.clientId.firstName}" style="width:100%" label="#{msg.Registration_FirstName}"/></f:facet>
                </p:cellEditor> 
            </p:column>

            <p:column headerText="#{msg.Registration_LastName}" sortBy="#{order.clientId.lastName}" filterBy="#{order.clientId.lastName}" filterMatchMode="contains" style="width:150px">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{order.clientId.lastName}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{order.clientId.lastName}" style="width:100%" label="#{msg.Registration_LastName}"/></f:facet>
                </p:cellEditor> 
            </p:column>

            <p:column headerText="#{msg.Date}" sortBy="#{order.orderDate}" filterBy="#{order.orderDate}" filterMatchMode="equals" style="width:200px">
                <h:outputText value="#{order.orderDate}" >
                    <f:convertDateTime pattern="MMMM d, yyyy HH:mm a z" timeZone="EST" />
                </h:outputText>
                <f:facet name="filter">
                    <p:calendar  pattern="MMMM d, yyyy" >
                        <p:ajax event="dateSelect"  oncomplete="PF('orders_table').filter()"/>
                        <p:ajax event="blur"  oncomplete="PF('orders_table').filter()"/>
                    </p:calendar>
                </f:facet>
            </p:column>

            <p:column headerText="#{msg.Subtotal}" sortBy="#{order.totalPrice - order.totalGST - order.totalHST - order.totalPST}" style="width:120px">
                <h:outputText value="#{order.totalPrice - order.totalGST - order.totalHST - order.totalPST}" />
            </p:column>

            <p:column headerText="#{msg.HST}" sortBy="#{order.totalHST}" style="width:120px">
                <h:outputText value="#{order.totalHST}" />
            </p:column>

            <p:column headerText="#{msg.GST}" sortBy="#{order.totalGST}" style="width:120px">
                <h:outputText value="#{order.totalGST}" />
            </p:column>

            <p:column headerText="#{msg.PST}" sortBy="#{order.totalPST}" style="width:120px">
                <h:outputText value="#{order.totalPST}" />
            </p:column>

            <p:column headerText="#{msg.Total}" sortBy="#{order.totalPrice}" style="width:120px">
                <h:outputText value="#{order.totalPrice}" />
            </p:column>

            <p:column headerText="#{msg.Invoice}" style="width:120px; text-align: center">
                <p:commandButton title="View" value="#{msg.View}" update="@form" ajax="true" oncomplete="PF('order_invoice').show()">
                    <f:setPropertyActionListener value="#{order}" target="#{orderBackingBean.selectedOrder}" />
                </p:commandButton>
            </p:column>

            <p:column headerText="#{msg.Removed}" sortBy="#{order.removalStatus}" filterBy="#{order.removalStatus}" filterMatchMode="equals" style="width:120px; text-align: center">
                <f:facet name="filter">
                    <p:selectOneButton onchange="PF('orders_table').filter()" >
                        <f:converter converterId="javax.faces.Boolean" />
                        <f:selectItem itemLabel="#{msg.Yes}" itemValue="true" />
                        <f:selectItem itemLabel="#{msg.No}" itemValue="false" />
                    </p:selectOneButton>
                </f:facet>
                <p:toggleSwitch value="#{order.removalStatus}">
                    <p:ajax listener="#{orderBackingBean.editOrder(order)}" update="@form" />
                </p:toggleSwitch>
            </p:column>

            <p:column style="width:100px; text-align: center">
                <p:linkButton outcome="editorder.xhtml" value="#{msg.Edit}">
                    <f:param name="order" value="#{order.id}" />
                </p:linkButton>
            </p:column>
        </p:dataTable>
    </h:form>
    <p:dialog header="#{msg.Invoice}" widgetVar="order_invoice" modal="true" showEffect="fade" hideEffect="fade" resizable="false" style="width:50%; position: absolute; left: 0; margin: 100px">
        <p:dataTable id="book_table" var="order_book" value="#{orderBackingBean.selectedOrder.orderBookList}" sortBy="#{order_book.PSTpercentage}">
            <f:facet name="header">
                #{msg.BooksOfGenre_Books}
            </f:facet>

            <p:column headerText="#{msg.Cover_Image}">
                <p:graphicImage value="/#{order_book.book.imageFile}" styleClass="content" height="100px"/>
            </p:column>

            <p:column headerText="#{msg.ISBN}">
                <h:outputText value="#{order_book.book.isbn}" />
            </p:column>

            <p:column headerText="#{msg.Title}">
                <h:outputText value="#{order_book.book.title}" />
            </p:column>

            <p:column headerText="#{msg.Price}">
                <h:outputText value="#{order_book.price}" />
            </p:column>

            <p:summaryRow>
                <p:column colspan="3" style="text-align:right">
                    <h:outputText value="#{msg.Subtotal}" />
                    <br/>
                    <br/>
                    <h:outputText value="#{msg.PST}(#{order_book.PSTpercentage}%)" />
                    <br/>
                    <br/>
                    <h:outputText value="#{msg.GST}(#{order_book.GSTpercentage}%)" />
                    <br/>
                    <br/>
                    <h:outputText value="#{msg.HST}(#{order_book.HSTpercentage}%)" />
                    <br/>
                    <br/>
                    <h:outputText value="#{msg.Total}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{orderBackingBean.selectedOrder.totalPrice - orderBackingBean.selectedOrder.totalGST - orderBackingBean.selectedOrder.totalHST - orderBackingBean.selectedOrder.totalPST}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                    <br/>
                    <br/>
                    <h:outputText value="#{orderBackingBean.selectedOrder.totalPST}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                    <br/>
                    <br/>
                    <h:outputText value="#{orderBackingBean.selectedOrder.totalGST}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                    <br/>
                    <br/>
                    <h:outputText value="#{orderBackingBean.selectedOrder.totalHST}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                    <br/>
                    <br/>
                    <h:outputText value="#{orderBackingBean.selectedOrder.totalPrice}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
            </p:summaryRow>
        </p:dataTable>
    </p:dialog>
</ui:composition>