<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Sales_By_Publisher}">
                <p:panel id="search" class="w-100">
                    <h:panelGrid columns="2">
                        <p:outputLabel for="publisher" value="#{msg.Publisher}" />
                        <p:selectOneMenu id="publisher" value="#{publisherReportBackingBean.publisherId}" class="w-100" required="true">
                            <f:selectItems value="#{publisherJpaController.findPublisherEntities()}" var="publisher" itemLabel="#{publisher.publisherName}" itemValue="#{publisher.id}"/>
                        </p:selectOneMenu>
                        <p:outputLabel for="From" value="#{msg.From}" />
                        <p:datePicker id="From" value="#{publisherReportBackingBean.startDate}" required="true"/>
                        <p:outputLabel for="To" value="#{msg.To}"/>
                        <p:datePicker id="To" value="#{publisherReportBackingBean.endDate}" required="true"/>
                        <p:commandButton action="#{publisherReportBackingBean.publisherTotalSales}" value="#{msg.Get_Total_Sale_All_Orders}" ajax="false" update="growl"/>
                        <p:commandButton action="#{publisherReportBackingBean.publisherTotalSalesGroupedByBooks}" value="#{msg.Get_Total_Orders}" ajax="false" update="growl"/>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable var="publisherSale" value="#{publisherReportBackingBean.publisherSaleBeans}" emptyMessage="#{msg.No_Records}">
                    <p:column headerText="#{msg.Most_Recent_Order_Date}" sortBy="#{publisherSale.orderDate}">
                        <h:outputText value="#{publisherSale.orderDate}" />
                    </p:column>
                    <p:column headerText="#{msg.Title}" sortBy="#{publisherSale.title}">
                        <h:outputText value="#{publisherSale.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{publisherSale.sales}">
                        <h:outputText value="$#{publisherSale.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Cost}" sortBy="#{publisherSale.cost}">
                        <h:outputText value="$#{publisherSale.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{publisherSale.profit}">
                        <h:outputText value="$#{publisherSale.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Sales}" sortBy="#{publisherSale.amountOfSales}">
                        <h:outputText value="#{publisherSale.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>
