<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Sales_By_Client}">
                <p:panel id="search" class="w-100">
                    <h:panelGrid columns="8">
                        <p:outputLabel for="client" value="#{msg.Client}" />
                        <p:selectOneMenu id="client" value="#{clientReportBackingBean.clientId}" class="w-100" required="true">
                            <f:selectItems value="#{clientJpaController.findClientEntities()}" var="client" itemLabel="#{client.firstName} #{client.lastName} ##{client.id}" itemValue="#{client.id}"/>
                        </p:selectOneMenu>
                        <p:outputLabel for="From" value="#{msg.From}" />
                        <p:datePicker id="From" value="#{clientReportBackingBean.startDate}" required="true"/>
                        <p:outputLabel for="To" value="#{msg.To}"/>
                        <p:datePicker id="To" value="#{clientReportBackingBean.endDate}" required="true"/>
                        <p:commandButton action="#{clientReportBackingBean.loadClientTotalSales}" value="#{msg.Get_Total_Sale_All_Orders}" ajax="false" update="growl"/>
                        <p:commandButton action="#{clientReportBackingBean.loadClientTotalSalesGroupedByBooks}" value="#{msg.Get_Total_Sale_By_Book}" ajax="false" update="growl"/>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable var="clientSale" value="#{clientReportBackingBean.clientSaleBeans}" emptyMessage="#{msg.No_Records}">
                    <p:column headerText="#{msg.Most_Recent_Order_Date}" sortBy="#{clientSale.orderDate}">
                        <h:outputText value="#{clientSale.orderDate}" />
                    </p:column>
                    <p:column headerText="#{msg.Title}" sortBy="#{clientSale.title}">
                        <h:outputText value="#{clientSale.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{clientSale.sales}">
                        <h:outputText value="$#{clientSale.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Cost}" sortBy="#{clientSale.cost}">
                        <h:outputText value="$#{clientSale.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{clientSale.profit}">
                        <h:outputText value="$#{clientSale.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Sales}" sortBy="#{clientSale.amountOfSales}">
                        <h:outputText value="#{clientSale.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>