<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Sales_By_Author}">
                <p:panel id="search" class="w-100">
                    <h:panelGrid columns="8">
                        <p:outputLabel for="author" value="#{msg.Author}" />
                        <p:selectOneMenu id="author" value="#{authorReportBackingBean.authorId}" class="w-100" required="true">
                            <f:selectItems value="#{authorJpaController.findAuthorEntities()}" var="author" itemLabel="#{author.authorName} #{author.id}" itemValue="#{author.id}"/>
                        </p:selectOneMenu>
                        <p:outputLabel for="From" value="#{msg.From}" />
                        <p:datePicker id="From" value="#{authorReportBackingBean.startDate}" required="true"/>
                        <p:outputLabel for="To" value="#{msg.To}"/>
                        <p:datePicker id="To" value="#{authorReportBackingBean.endDate}" required="true"/>
                        <p:commandButton action="#{authorReportBackingBean.loadAuthorTotalSales}" value="#{msg.Get_Total_Sale_All_Orders}" ajax="false" update="growl"/>
                        <p:commandButton action="#{authorReportBackingBean.loadAuthorTotalSalesGroupedByBooks}" value="#{msg.Get_Total_Sale_By_Book}" ajax="false" update="growl"/>
                    </h:panelGrid>
                </p:panel>

                <p:dataTable var="authorSale" value="#{authorReportBackingBean.authorSaleBeans}" emptyMessage="#{msg.No_Records}">
                     <p:column headerText="#{msg.Most_Recent_Order_Date}" sortBy="#{authorSale.orderDate}">
                        <h:outputText value="#{authorSale.orderDate}" />
                    </p:column>
                    <p:column headerText="#{msg.Title}" sortBy="#{authorSale.title}">
                        <h:outputText value="#{authorSale.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{authorSale.sales}">
                        <h:outputText value="$#{authorSale.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Cost}" sortBy="#{authorSale.cost}">
                        <h:outputText value="$#{authorSale.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{authorSale.profit}">
                        <h:outputText value="$#{authorSale.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Sales}" sortBy="#{authorSale.amountOfSales}">
                        <h:outputText value="#{authorSale.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>
