<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <p:panel>
            <div class="row w-100">

                <p:panel id="bookscontainer" class="w-100">
                    <h:form class="w-100">

                        <p:dataTable var="book" value="#{allBooksBackingBean.books}" widgetVar="bookTable" filteredValue="#{allBooksBackingBean.filteredBooks}">

                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="#{msg.Search_All_Fields}" />
                                    <p:inputText id="globalFilter" onkeyup="PF('bookTable').filter()" style="width:150px" placeholder="#{msg.Enter_Keyword}"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="#{msg.Cover_Image}">
                                <p:graphicImage value="/#{book.imageFile}" styleClass="content" width="100" height="166"/> 
                            </p:column>
                            <p:column headerText="#{msg.ISBN}"  filterBy="#{book.isbn}" filterMatchMode="contains">
                                <h:outputText value="#{book.isbn}" />
                            </p:column>
                            <p:column headerText="#{msg.Title}" filterBy="#{book.title}" filterMatchMode="contains" >
                                <h:outputText value="#{book.title}" />
                            </p:column>

                            <p:column headerText="#{msg.Sales}">
                                <p:linkButton outcome="booksales.xhtml" value="#{msg.Sales}" style="margin-right:20px;">
                                    <f:param name="isbn" value="#{book.isbn}" />
                                </p:linkButton>
                            </p:column>

                        </p:dataTable>
                    </h:form>
                </p:panel>
            </div>
        </p:panel>
</ui:composition>