<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Stock_Report}">
                <p:dataTable var="stock" value="#{stockReportBackingBean.stockBeans}" emptyMessage="#{msg.No_Records}">
                    <p:column headerText="#{msg.Title}" sortBy="#{stock.title}">
                        <h:outputText value="#{stock.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Wholesale_Price}" sortBy="#{stock.wholesalePrice}">
                        <h:outputText value="$#{stock.wholesalePrice}" />
                    </p:column>
                    <p:column headerText="#{msg.List_Price}" sortBy="#{stock.listPrice}">
                        <h:outputText value="$#{stock.listPrice}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{stock.sales}">
                        <h:outputText value="$#{stock.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Cost}" sortBy="#{stock.cost}">
                        <h:outputText value="$#{stock.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{stock.profit}">
                        <h:outputText value="$#{stock.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Sales}" sortBy="#{stock.amountOfSales}">
                        <h:outputText value="#{stock.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>