<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
     <p:panel id="surveycontainer" class="w-100" header="#{msg.Surveys}">
            <h:form class="w-100">
                <p:dataTable var="survey" id="surveyDataTable" value="#{surveysManagementBackingBean.surveys}" editable="true">                                              
                    <p:growl id="growl" showDetail="true" sticky="true" /> 
                    <p:ajax event="rowEdit" listener="#{surveysManagementBackingBean.saveSurveyChanges(survey)}" update="growl"/>
                    <p:ajax event="rowEditCancel" />
                    <p:column headerText="#{msg.Question}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{survey.surveyText}"/></f:facet>
                            <f:facet name="input">
                                <p:inputText id="Question" value="#{survey.surveyText}">
                                    <f:validateLength maximum="65535"/>
                                    <f:ajax event="valueChange" render="QuestionError" />
                                </p:inputText>
                                <h:message id="QuestionError" for="Question" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.Answer1}" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{survey.answer1}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="Answer1" value="#{survey.answer1}">
                                    <f:validateLength maximum="100"/>
                                    <f:ajax event="valueChange" render="Answer1Error" />
                                </p:inputText>
                                <h:message id="Answer1Error" for="Answer1" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.Answer2}" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{survey.answer2}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="Answer2" value="#{survey.answer2}">
                                    <f:validateLength maximum="100"/>
                                    <f:ajax event="valueChange" render="Answer2Error" />
                                </p:inputText>
                                <h:message id="Answer2Error" for="Answer2" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.Answer3}" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{survey.answer3}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="Answer3" value="#{survey.answer3}">
                                    <f:validateLength maximum="100"/>
                                    <f:ajax event="valueChange" render="Answer3Error" />
                                </p:inputText>
                                <h:message id="Answer3Error" for="Answer3" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="#{msg.Answer4}" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{survey.answer4}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="Answer4" value="#{survey.answer4}">
                                    <f:validateLength maximum="100"/>
                                    <f:ajax event="valueChange" render="Answer4Error" />
                                </p:inputText>
                                <h:message id="Answer4Error" for="Answer4" style = "color:red" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width:35px">
                        <p:rowEditor />
                    </p:column>
                    <p:column headerText="#{msg.Survey_Active}" >
                        <p:toggleSwitch id="surveyActive" value="#{survey.surveyActive}">
                            <p:ajax listener="#{surveysManagementBackingBean.setSurveyAsTheActiveSurvey(survey)}" update="@form" />
                        </p:toggleSwitch>
                    </p:column>
                    <p:column headerText="#{msg.Delete}" >
                        <p:commandButton value="#{msg.Delete}" action="#{surveysManagementBackingBean.deleteSurvey(survey)}" update="@form"/>
                    </p:column>
                    
                </p:dataTable>


                <p:commandButton value="#{msg.Add_Survey}" styleClass="ui-priority-primary" process="@form" update="@form growl"
                                 action="#{surveysManagementBackingBean.addANewBlankSurvey()}"/>

                <p:growl id="growl" showDetail="true" sticky="true" /> 
            </h:form>
        </p:panel>
</ui:composition>