<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Top_Clients}">
                <p:panel id="search" class="w-100">
                    <p:panelGrid columns="6" >
                        <p:outputLabel for="From" value="#{msg.From}" />
                        <p:datePicker id="From" value="#{clientReportBackingBean.startDate}" required="true"/>
                        <p:outputLabel for="To" value="#{msg.To}"/>
                        <p:datePicker id="To" value="#{clientReportBackingBean.endDate}" required="true"/>
                        <p:commandButton action="#{clientReportBackingBean.loadTopClients}" value="#{msg.Top_Clients}" ajax="false" update="growl"/>
                    </p:panelGrid>
                </p:panel>

                <p:dataTable var="clientSale" value="#{clientReportBackingBean.clientBeans}" emptyMessage="#{msg.No_Records}">
                    <p:column headerText="#{msg.Title}" sortBy="#{clientSale.title}">
                        <h:outputText value="#{clientSale.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{clientSale.sales}">
                        <h:outputText value="$#{clientSale.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Spent}" sortBy="#{clientSale.cost}">
                        <h:outputText value="$#{clientSale.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{clientSale.profit}">
                        <h:outputText value="$#{clientSale.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Purchases}" sortBy="#{clientSale.amountOfSales}">
                        <h:outputText value="#{clientSale.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>