<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form>
            <p:panel header="#{msg.Top_Sellers}">
                <p:panel id="search" class="w-100">
                    <p:panelGrid columns="6" >
                        <p:outputLabel for="From" value="#{msg.From}" />
                        <p:datePicker id="From" value="#{bookReportBackingBean.startDate}" required="true"/>
                        <p:outputLabel for="To" value="#{msg.To}"/>
                        <p:datePicker id="To" value="#{bookReportBackingBean.endDate}" required="true"/>
                        <p:commandButton action="#{bookReportBackingBean.loadTopSellingBooks}" value="#{msg.Top_Selling_Books_Ordered_By_Amount_Of_Sales}" ajax="false" update="growl"/>
                    </p:panelGrid>
                </p:panel>

                <p:dataTable var="bookSale" value="#{bookReportBackingBean.bookSaleBeans}" emptyMessage="#{msg.No_Records}">
                    <p:column headerText="#{msg.Title}" sortBy="#{bookSale.title}">
                        <h:outputText value="#{bookSale.title}" />
                    </p:column>
                    <p:column headerText="#{msg.Sales}" sortBy="#{bookSale.sales}">
                        <h:outputText value="$#{bookSale.sales}"/>
                    </p:column>
                    <p:column headerText="#{msg.Cost}" sortBy="#{bookSale.cost}">
                        <h:outputText value="$#{bookSale.cost}"/>
                    </p:column>
                    <p:column headerText="#{msg.Profit}" sortBy="#{bookSale.profit}">
                        <h:outputText value="$#{bookSale.profit}"/>
                    </p:column>
                    <p:column headerText="#{msg.Amount_Of_Sales}" sortBy="#{bookSale.amountOfSales}">
                        <h:outputText value="#{bookSale.amountOfSales}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:growl id="growl" showDetail="true" sticky="true" /> 
        </h:form>
</ui:composition>