<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    template="/WEB-INF/management/templates/masterLayout.xhtml">
    <ui:define name="windowTitle">
        #{msg.Manage_Clients}
    </ui:define>

    <ui:define name="content">
        <ui:include src="/WEB-INF/management/pages/clientmanagement.xhtml" />
    </ui:define>
</ui:composition>