<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      style="height:100%; margin:0; background-color: #f0f6ff;"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <title>Management Site</title>
        <h:outputStylesheet library="css" name="main.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </h:head>

    <body class="bg-light" style="height:100%;margin:0;">
        <div class="wrapper">
            <!--TOP BAR-->
            <nav class="navbar navbar-light bg-info">
                <a class="navbar-brand text-white" href="managerindex.xhtml">
                    <img src="/image/shopping-car.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
                    Management Site
                </a>
            </nav>
            <!--END OF TOP BAR -->
            <div class="row">
                <!--SIDE BAR-->
                <nav id="sidebar" class="col-md-auto position-sticky">
                    <ul class="list-unstyled components">
                        <li>
                            <h:form>
                                <p:menu>
                                    <p:submenu label="Management">
                                        <p:menuitem value="Manage Books" action="bookmanagement.xhtml" ajax="false" icon=""/>
                                        <p:menuitem value="Set Sales"  ajax="false" icon=""/>
                                        <p:menuitem value="Manage Clients"  ajax="false" icon=""/>
                                        <p:menuitem value="Manage Orders"  ajax="false" icon=""/>
                                        <p:menuitem value="Manage Reviews"  ajax="false" icon=""/>
                                    </p:submenu>
                                    <p:submenu label="Reporting">
                                        <p:menuitem value="Total Sales"  ajax="false" icon=""/>
                                        <p:menuitem value="Sales by Client"  ajax="false" icon=""/>
                                        <p:menuitem value="Sales by Author"  ajax="false" icon=""/>
                                        <p:menuitem value="Sales by Publisher"  ajax="false" icon=""/>
                                        <p:menuitem value="Top Sellers"  ajax="false" icon=""/>
                                        <p:menuitem value="Top Clients"  ajax="false" icon=""/>
                                        <p:menuitem value="Zero Sales"  ajax="false" icon=""/>
                                        <p:menuitem value="Stock Report"  ajax="false" icon=""/>
                                    </p:submenu>
                                    <p:submenu label="News Feed">
                                        <p:menuitem value="Current News Feeds"  ajax="false" icon=""/>
                                    </p:submenu>
                                    <p:submenu label="Surveys">
                                        <p:menuitem value="Current Survey"  ajax="false" icon=""/>
                                    </p:submenu>
                                    <p:submenu label="Banner Ads">
                                        <p:menuitem value="Current Ads"  ajax="false" icon=""/>
                                    </p:submenu>
                                </p:menu>
                            </h:form>
                        </li>
                    </ul>
                </nav>
                <!--END OF SIDE BAR-->
                <!--MAIN CONTENT-->
                <div class="col"> 
                    <p:panel id="container">
                        <p:panel id="basic" header="Reports Summary" style="margin-bottom:20px">
                            <div class="row">
                                <div class="card col-sm-6">
                                    <div class="card-body">
                                        <h:form>
                                            <p:chart type="line" model="#{chartData.dateModel}" style="height:80%;width:90%"/>
                                        </h:form>
                                        <p>Sales</p>
                                    </div>
                                </div>
                                <div class="card col">
                                    <div class="card-body">
                                        <p:graphicImage value="images/978-8077968719.jpg" styleClass="content" width="132px" height="200px"/>
                                        <h3>The French Adventure</h3>
                                        <p>Top selling book</p>
                                    </div>
                                </div>
                                <div class="card col">
                                    <div class="card-body">
                                        <br></br>
                                        <br></br>
                                        <br></br>
                                        <div class="">
                                            <h3>Aria</h3>

                                            <p>Top Selling Publisher</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p:panel>

                        <p:panel id="management" header="Management" style="margin-bottom:20px">
                            <div class="row">
                                <div class="card col">
                                    <div class="card-body">
                                        <p:graphicImage value="images/tools.png" styleClass="content" width="50px" height="50px"/>
                                        <p>Add/Edit/Remove Inventory</p>
                                    </div>
                                </div>
                                <div class="card col">
                                    <div class="card-body">
                                        <p:graphicImage value="images/confirm.png" styleClass="content" width="50px" height="50px"/>
                                        <p>Approve Reviews</p>
                                    </div>
                                </div>
                                <div class="card col">
                                    <div class="card-body">
                                        <p:graphicImage value="images/order.png" styleClass="content" width="50px" height="50px"/>
                                        <p>Manage Orders</p>
                                    </div>
                                </div>
                            </div>
                        </p:panel>
                    </p:panel>
                </div>
                <!--END OF MAIN CONTENT-->
            </div>
        </div>
    </body>
</html>