<!-- Author: Thomas Ouellette -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand text-white" href="index.xhtml">
            <img src="/image/shopping-car.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
            #{msg.Header_Title}
        </a>

        <div>
            <div style="float: left; margin-right: 20px">
                <a href="/ga2w20/index.xhtml" style="color: #f0f6ff;">#{msg.Back_To_Client}</a>
            </div>
            <div class="mobile-center" style="float: left; margin-right: 20px">
                <ui:fragment rendered="#{languageBackingBean.isCurrentLanguageEnglish() == false}">                
                    <h:form>
                        <h:commandLink  action="#{languageBackingBean.switchTo('en')}" value="#{msg.Border_EnglishLanguage}" style="color: #f0f6ff;"/>
                    </h:form>
                </ui:fragment>
                <ui:fragment rendered="#{languageBackingBean.isCurrentLanguageEnglish() == true}">
                    <h:form>
                        <h:commandLink  action="#{languageBackingBean.switchTo('fr')}" value="#{msg.Border_FrenchLanguage}" style="color: #f0f6ff;"/>
                    </h:form>                 
                </ui:fragment>
            </div>
            <div style="float: left">
                <ui:fragment>                
                    <h:form>
                        <h:commandLink  action="#{sessionBackingBean.logOutUser()}" value="#{msg.Border_Logout}" style="color: #f0f6ff;"/>
                    </h:form>
                </ui:fragment>
            </div>
        </div>
    </nav>
</ui:composition>
