<!-- Author: Thomas Ouellette -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      style="height:100%; margin:0; background-color: #f0f6ff;" id="html">
    <f:view locale="#{languageBackingBean.locale}">
    <h:head>
        <title><ui:insert name="windowTitle" /></title>
        <h:outputStylesheet library="css" name="main.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </h:head>

    <body class="bg-light">
        <div class="wrapper">
            <!--HEADING-->
            <ui:insert name="heading">
                <ui:include src="/WEB-INF/management/templates/header.xhtml" />
            </ui:insert>
            <!--END OF HEADING-->
            <div class="row" style="margin:0px">
                <!--SIDE BAR-->
                <ui:insert name="sidebarLeft">
                    <ui:include src="/WEB-INF/management/templates/sidebarLeft.xhtml" />
                </ui:insert>
                <!--END OF SIDE BAR-->
                <!--MAIN CONTENT-->
                <div class="col" style="padding:0px">
                    <ui:insert name="content" />
                </div>
                <!--END OF MAIN CONTENT-->
            </div>
        </div>
    </body>
    </f:view>
</html>