<!-- Author: Thomas Ouellette -->
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <nav id="sidebar" class="col-md-auto">
        <ul class="list-unstyled components">
            <li>
                <h:form>
                    <p:menu>
                        <p:submenu label="#{msg.Management}">
                            <p:menuitem value="#{msg.Manage_Books}" action="/management/bookmanagement.xhtml" ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Manage_Sales}" action="/management/setsales.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Manage_Clients}" action="/management/clientmanagement.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Manage_Orders}"  action="/management/manageorders.xhtml" ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Manage_Reviews}" action="/management/managereviews.xhtml" ajax="false" icon=""/>
                        </p:submenu>
                        <p:submenu label="#{msg.Reporting}">
                            <p:menuitem value="#{msg.Total_Sales}" action="/management/totalsales.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Sales_By_Client}" action="/management/salesbyclient.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Sales_By_Author}" action="/management/salesbyauthor.xhtml" ajax="false" icon=""/>	
                            <p:menuitem value="#{msg.Sales_By_Publisher}" action="/management/salesbypublisher.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Top_Sellers}" action="/management/topsellers.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Top_Clients}" action="/management/topclients.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Zero_Sales}" action="/management/zerosales.xhtml"  ajax="false" icon=""/>
                            <p:menuitem value="#{msg.Stock_Report}" action="/management/stockreport.xhtml"  ajax="false" icon=""/>
                        </p:submenu>
                        <p:submenu label="#{msg.News_Feed}">
                            <p:menuitem value="#{msg.Current_News_Feeds}"  ajax="false" icon=""/>
                        </p:submenu>
                        <p:submenu label="#{msg.Surveys}">
                            <p:menuitem url="surveymanagement.xhtml" value="#{msg.Current_Surveys}"  ajax="false" icon=""/>
                        </p:submenu>
                        <p:submenu label="#{msg.Banner_Ads}">
                            <p:menuitem url="adsmanagement.xhtml" value="#{msg.Current_Ads}"  ajax="false" icon=""/>
                        </p:submenu>
                    </p:menu>
                </h:form>
            </li>
        </ul>
    </nav>
</ui:composition>
