<!-- Author: Liam Harbec -->

<!-- Note: As XML does not support &nbsp, I had to use the hexadecimal notation of (&#160;) in certain places instead-->
<!--Sourced from: https://stackoverflow.com/questions/13012327/error-parsing-page-xhtml-error-tracedline-42-the-entity-nbsp-was-referenc -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:fragment rendered="#{bookBackingBean.book != null}">
        <!-- Image and relevant book info -->
        <div class="row mt-4">
            <div class="col ml-5 mt-3 mr-3">
                <p:graphicImage value="/#{bookBackingBean.book.imageFile}" styleClass="content" width="265px" height="400px"/>
            </div>
            <div class="col text-justify mr-3">
                <h4>#{bookBackingBean.book.title}</h4>

                <p:rating value="#{bookBackingBean.getAverageReview()}" readonly="true"/>

                <h:outputText value="#{msg.Book_By} "/>
                <!-- Loops through authors -->
                <ui:repeat var="author" value="#{bookBackingBean.book.authorList}" varStatus="status">
                    <h:outputText rendered="#{status.index+1 lt bookBackingBean.authors.size()}" value="#{author.authorName}, "/>
                    <h:outputText rendered="#{status.index+1 eq bookBackingBean.authors.size()}" value="#{author.authorName} "/>
                </ui:repeat>

                <h:outputText value="("/>
                <h:outputText value="#{bookBackingBean.book.publicationDate}">
                    <f:convertDateTime pattern="MMM dd, yyyy" />
                </h:outputText>
                <h:outputText value=")"/>

                <hr/>
                <p>#{bookBackingBean.book.description}</p>
                <hr/>
                <br/>
                <div class="text-center">
                    <div class="col">
                        <form>
                            <div class="col">
                                <div class="border mb-2 list-price px-2">
                                    <h:outputText value="#{msg.Book_ListPrice} "/>
                                    <!-- Regular price displayed -->
                                    <h:outputText
                                        value="$#{bookBackingBean.book.listPrice}"
                                        rendered="#{bookBackingBean.book.listPrice gt 0 and bookBackingBean.bookSale == null}"/>

                                    <!-- Book that is on sale -->
                                    <h:outputText
                                        value="$#{bookBackingBean.book.listPrice}"
                                        style="text-decoration: line-through;"
                                        rendered="#{bookBackingBean.bookSale != null and bookBackingBean.book.listPrice gt 0}"/>
                                    <h:outputText 
                                        value="  $#{bookBackingBean.bookSale} (#{bookBackingBean.salePercent}%)"
                                        style="color: red;"
                                        rendered="#{bookBackingBean.bookSale != null and bookBackingBean.book.listPrice gt 0}"/>

                                    <!-- Free book -->
                                    <!-- Was not working with 0, had to use a number less than 0.01 but greater than 0 -->
                                    <h:outputText value="#{msg.Book_Free}" rendered="#{bookBackingBean.book.listPrice lt 0.0000000001}"/>
                                </div>

                                <h:selectOneMenu>
                                    <h:outputText value="#{msg.Book_Format}: "/>
                                    <f:selectItems var="format"
                                                   value="#{bookBackingBean.book.formatList}"
                                                   itemLabel="#{format.formatTitle}"
                                                   itemValue="#{format}"/>
                                </h:selectOneMenu>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">#{msg.Book_AddToCart}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <!-- Additional book info -->
        <div class="row mt-4 ml-4">
            <div class="col text-left">
                <h5>#{msg.Book_BookDetails}</h5>
                #{msg.Book_Genre} 
                <h:outputText value="#{bookBackingBean.genre}"/><br/>
                #{msg.Book_Pages} 
                #{bookBackingBean.book.numberOfPages}<br/>
                #{msg.Book_Publisher}
                <h:outputText value="#{bookBackingBean.publisher}"/><br/>
                #{msg.Book_ISBN}
                #{bookBackingBean.book.isbn}<br/>
            </div>
        </div>

        <hr/>

        <!-- Books by same author or genre -->
        <h4>#{msg.Book_Similar}</h4>
        <div class="row mb-2 spaced">
            <ui:repeat var="book" value="#{bookBackingBean.similarBooks}">
                <div class="col">
                    <a href="book.xhtml?isbn=#{book.isbn}">
                        <p:graphicImage value="/#{book.imageFile}" styleClass="content" width="106px" height="160px"/>
                    </a>
                    <div class="row">
                        <a class="text-break text-wrap book-title mx-3" href="book.xhtml?isbn=#{book.isbn}">#{book.title}</a>
                    </div>
                </div>
            </ui:repeat>
        </div>

        <hr/>

        <!-- Reviews of the book -->
        <h4>#{msg.Book_CustomerReviews}</h4>
        <h:outputLink class="text-break text-wrap text-left"
                      value="#{sessionBackingBean.leaveReviewRedirect(bookBackingBean.book.isbn)}"
                      target="_blank">#{msg.Book_LeaveReview}</h:outputLink>
        <div class="col">
            <ui:repeat var="review" value="#{bookBackingBean.approvedReviews}">
                <div class="col text-left">
                    <div class="row">
                        <strong>#{review.client.firstName} #{review.client.lastName}</strong>&#160;
                        <h:outputText value="("/>
                        <h:outputText value="#{review.reviewDate}">
                            <f:convertDateTime pattern="MMM dd, yyyy" />
                        </h:outputText>
                        <h:outputText value=")"/>
                    </div>
                    <div class="row">
                        <p:rating value="#{review.rating}" readonly="true" />
                    </div>
                    <div>#{review.reviewText}</div>
                </div><br/><br/>
            </ui:repeat>
        </div>
        <br/>
        <h:outputText rendered="#{bookBackingBean.approvedReviews.size() eq 0}" value="#{msg.Book_NoReviews}"/>
        <br/><br/>
    </ui:fragment>
</ui:composition>