<!-- Author: Svitlana Myronova -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form> 
        <!--The chosen genre-->    
        <h1 class="center my-4">
            <ui:fragment rendered="#{booksOfGenreBackingBean.genreTitle == null}"> 
                #{msg.BooksOfGenre_AllGenres}
            </ui:fragment>
            <ui:fragment rendered="#{booksOfGenreBackingBean.genreTitle != null}">
                #{booksOfGenreBackingBean.genreTitle}
            </ui:fragment>
        </h1>

        <!--Top Sellers of the chosen genre-->    
        <h2 class="center my-4">#{msg.BooksOfGenre_TopSellers}</h2>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <ui:repeat value="#{booksOfGenreBackingBean.bestSellers}" var="bestSeller" > 
                    <div class= "col-auto my-3">
                        <div class="card" style="width:11rem;">
                            <h:link style="color: black;" outcome="book">
                                <f:param name="isbn" value="#{bestSeller.isbn}"/>
                                <img src="#{bestSeller.imageFile}" alt="#{bestSeller.title}" class="img-fluid"/>
                                <p>#{bestSeller.title}</p>
                                <ui:fragment rendered="#{bestSeller.salePrice.doubleValue()>0.0001}">   
                                    <p>
                                        <h:outputText value="#{bestSeller.salePrice}" style="font-weight: bold; color: red;">
                                            <f:convertNumber type="number" maxFractionDigits="2" />  
                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                        </h:outputText>
                                    </p>
                                </ui:fragment>
                                <p>
                                    <h:outputText value="#{bestSeller.listPrice}" style="font-weight: bold; #{bestSeller.salePrice.doubleValue()>0.0001 ? 'text-decoration: line-through;' : ''}} ">
                                        <f:convertNumber type="number" maxFractionDigits="2" />  
                                        <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                    </h:outputText>
                                </p>
                            </h:link>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>

        <!--Books of a chosen genre-->    
        <h2 class="center my-4">#{msg.BooksOfGenre_Books}</h2>

        <ui:fragment rendered="#{booksOfGenreBackingBean.paginator.pagesTotal != 0}">
            <div class="my-5">
                <h:commandButton value="&lt; prev" action="#{booksOfGenreBackingBean.paginator.prev()}" class="btn btn-secondary" />
                <h:outputText value="#{booksOfGenreBackingBean.paginator.pageIndex} / #{booksOfGenreBackingBean.paginator.pagesTotal}" style="font-weight: bold;" class="px-3" />
                <h:commandButton value="next &gt;" action="#{booksOfGenreBackingBean.paginator.next()}" class="btn btn-secondary" />
                <h:inputHidden value="#{booksOfGenreBackingBean.paginator.pageIndex}"/>
            </div>
        </ui:fragment>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <ui:repeat value="#{booksOfGenreBackingBean.paginator.model}" var="book" > 
                    <div class= "col-auto my-3">
                        <div class="card" style="width:11rem;">
                            <h:link style="color: black;" outcome="book">
                                <f:param name="isbn" value="#{book.isbn}"/>
                                <img src="#{book.imageFile}" alt="#{book.title}" class="img-fluid"/>
                                <p>#{book.title}</p>
                                <ui:fragment rendered="#{book.salePrice.doubleValue()>0.0001}">   
                                    <p>
                                        <h:outputText value="#{book.salePrice}" style="font-weight: bold; color: red;">
                                            <f:convertNumber type="number" maxFractionDigits="2" />  
                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                        </h:outputText>
                                    </p>
                                </ui:fragment>
                                <p>
                                    <h:outputText value="#{book.listPrice}" style="font-weight: bold; #{book.salePrice.doubleValue()>0.0001 ? 'text-decoration: line-through;' : ''}} ">
                                        <f:convertNumber type="number" maxFractionDigits="2" />  
                                        <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                    </h:outputText>
                                </p>
                            </h:link>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>
        <ui:fragment rendered="#{booksOfGenreBackingBean.paginator.pagesTotal != 0}">
            <div class="my-5">
                <h:commandButton value="&lt; prev" action="#{booksOfGenreBackingBean.paginator.prev()}" class="btn btn-secondary" />
                <h:outputText value="#{booksOfGenreBackingBean.paginator.pageIndex} / #{booksOfGenreBackingBean.paginator.pagesTotal}" style="font-weight: bold;" class="px-3" />
                <h:commandButton value="next &gt;" action="#{booksOfGenreBackingBean.paginator.next()}" class="btn btn-secondary" />
                <h:inputHidden value="#{booksOfGenreBackingBean.paginator.pageIndex}"/>
            </div>
        </ui:fragment>
    </h:form>
</ui:composition>
