<!-- Author: Liam Harbec -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <!-- General Help -->
    <div class="text-left mt-5">
        <h1 class="ml-5">#{msg.Help_General}</h1>
    </div>
    <hr class="mx-5"/>
    
    <p class="mt-5 mx-5" style="color: gray;">
        #{msg.Help_GeneralText1}
    </p>
    <p class="mt-5 mx-5" style="color: gray;">
        #{msg.Help_GeneralText2}
    </p>
    
    <!-- Front Door Help -->
    <div class="text-left mt-5">
        <h1 class="ml-5">#{msg.Help_FrontDoor}</h1>
    </div>
    <hr class="mx-5"/>
    
    <p class="mt-5 mx-5" style="color: gray;">
        #{msg.Help_FrontDoorText}
    </p>
    
    
    <!-- Search Help -->
    <div class="text-left mt-5">
        <h1 class="ml-5">#{msg.Help_Search}</h1>
    </div>
    <hr class="mx-5"/>
    
    <p class="mt-5 mx-5" style="color: gray;">
        #{msg.Help_SearchText}
    </p>
    
    
    <!-- Book Help -->
    <div class="text-left mt-5">
        <h1 class="ml-5">#{msg.Help_Book}</h1>
    </div>
    <hr class="mx-5"/>
    
    <p class="mt-5 mx-5" style="color: gray;">
        #{msg.Help_BookText}
    </p>
    
    
    <!-- Review Help -->
    <div class="text-left mt-5">
        <h1 class="ml-5">#{msg.Help_Review}</h1>
    </div>
    <hr class="mx-5"/>
    
    <p class="my-5 mx-5" style="color: gray;">
        #{msg.Help_ReviewText}
    </p>
    
</ui:composition>