<!-- Author: Svitlana Myronova -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:metadata>
        <f:event type="preRenderView"
                 listener="#{indexBackingBean.checkCookies}" />
    </f:metadata>
    
     <!--Books from cookies-->    
    <ui:fragment rendered="#{indexBackingBean.lastGenreIdCookie != -1}" >

        <h1 class="center my-4">#{msg.ClientFrontDoor_FromCookie}</h1>

        <!--carousel start-->
        <div class="container my-4">

            <!--Carousel Wrapper-->
            <div id="multi-item-example-3" class="carousel slide carousel-multi-item" data-ride="carousel" >

                <!--Controls-->
                <div class="controls-top center" >
                    <h1>
                        <a class="btn-floating" href="#multi-item-example-3" data-slide="prev" style="color: white">                                        
                            <span class="oi oi-chevron-left mr-2" title="chevron-left" style="color: black" aria-hidden="true"></span>
                        </a>
                        <a class="btn-floating" href="#multi-item-example-3" data-slide="next" style="color: white">
                            <span class="oi oi-chevron-right mr-2" title="chevron-right" style="color: black" aria-hidden="true"></span>
                        </a>
                    </h1>
                </div>
                <!--/.Controls-->

                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example-3" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example-3" data-slide-to="1"></li>
                    <li data-target="#multi-item-example-3" data-slide-to="2"></li> 
                </ol>
                <!--/.Indicators-->

                <ui:param name="fromCookieBooks" value="#{indexBackingBean.fromCookieBooks}" />    
                <!--Slides-->

                <div class="carousel-inner" role="listbox">

                    <ui:repeat value="#{fromCookieBooks}" varStatus="status" step="4" var="bookNotInUse" >

                        <ui:param name="bookRowClass" value="#{status.index == 0 ? 'active' : '' }" />

                        <div class="carousel-item #{bookRowClass}">                        
                            <div class="row">   
                                <c:forEach var="i" begin="0" end="3">
                                    <ui:param name="fromCookieBook" value="#{fromCookieBooks[status.index+i]}" />
                                    <ui:fragment rendered="#{fromCookieBook != null}">
                                        <div class="col-md-3 #{i == 0 ? '' : 'clearfix d-none d-md-block'}">
                                            <div class="card mb-2 p-3">  
                                                <h:link style="color: black;" outcome="book">
                                                    <f:param name="isbn" value="#{fromCookieBook.isbn}"/>   
                                                    <img class="card-img-top" src="#{fromCookieBook.imageFile}" alt="#{fromCookieBook.title}"/>
                                                    <p>#{fromCookieBook.title}</p>
                                                    <ui:fragment rendered="#{fromCookieBook.salePrice.doubleValue()>0.0001}">
                                                        <p>
                                                            <h:outputText value="#{fromCookieBook.salePrice}" style="font-weight: bold; color: red;">
                                                                <f:convertNumber type="number" maxFractionDigits="2" />
                                                                <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                                            </h:outputText>
                                                        </p>
                                                    </ui:fragment>
                                                    <p>
                                                        <h:outputText value="#{fromCookieBook.listPrice}" style="font-weight: bold; #{fromCookieBook.salePrice.doubleValue()>0.0001 ? 'text-decoration: line-through;' : ''}} ">
                                                            <f:convertNumber type="number" maxFractionDigits="2" />
                                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                                        </h:outputText>
                                                    </p>
                                                </h:link>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </c:forEach>
                            </div>
                        </div>             


                    </ui:repeat>

                </div>
                <!--/.Slides-->  
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <!--carousel end-->
    </ui:fragment>
    <!--Books from cookies end-->   

    <!--Daily Specials-->    
    <h1 class="center my-4">#{msg.ClientFrontDoor_DailySpecials}</h1>

    <!--Carousel start-->
    <div class="container my-4">      

        <!--Carousel Wrapper-->
        <div id="multi-item-example-1" class="carousel slide carousel-multi-item" data-ride="carousel" >

            <!--Controls-->
            <div class="controls-top center" >
                <h1>
                    <a class="btn-floating" href="#multi-item-example-1" data-slide="prev" style="color: white">                                        
                        <span class="oi oi-chevron-left mr-2" title="chevron-left" style="color: black" aria-hidden="true"></span>
                    </a>
                    <a class="btn-floating" href="#multi-item-example-1" data-slide="next" style="color: white">
                        <span class="oi oi-chevron-right mr-2" title="chevron-right" style="color: black" aria-hidden="true"></span>
                    </a>
                </h1>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example-1" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example-1" data-slide-to="1"></li>
                <li data-target="#multi-item-example-1" data-slide-to="2"></li>            
            </ol>
            <!--/.Indicators-->

            <c:set var="specialBooks" value="#{indexBackingBean.specialBooks}" />
            <!--Slides-->

            <div class="carousel-inner" role="listbox">

                <ui:repeat id="specialBookRepeatId" value="#{specialBooks}" varStatus="status" step="4" var="bookNotInUse" >                 

                    <ui:param name="bookRowClass" value="#{status.index == 0 ? 'active' : '' }" />

                    <div class="carousel-item #{bookRowClass}">                        
                        <div class="row">   
                            <c:forEach var="i" begin="0" end="3">
                                <ui:param name="book" value="#{specialBooks[status.index+i]}" />
                                <ui:fragment rendered="#{book != null}"> 
                                    <div class="col-md-3 #{i == 0 ? '' : 'clearfix d-none d-md-block'}">
                                        <div class="card mb-2 p-3">                                            
                                            <h:link id="specialBookId" style="color: black;" outcome="book">
                                                <f:param name="isbn" value="#{book.isbn.isbn}"/>    
                                                <img class="card-img-top" src="#{book.isbn.imageFile}" alt="#{book.isbn.title}"/>
                                                <p>#{book.isbn.title}</p>
                                                <div class="card-body">
                                                    <!--<h6 class="card-title">#{book.isbn.title}</h6>-->                                                                                 
                                                    <p class="card-title"> 
                                                        <h:outputText value="#{(1-book.percentage/100)*(book.isbn.listPrice)}" style= "font-weight: bold; color: red;">
                                                            <f:convertNumber type="number" maxFractionDigits="2" />  
                                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                                        </h:outputText>
                                                    </p>
                                                    <p class="card-title" style="text-decoration: line-through; font-weight: bold;"> 
                                                        <h:outputText value="#{(book.isbn.listPrice)}">
                                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                                        </h:outputText>
                                                    </p>
                                                    <!--<a class="btn btn-outline-secondary">Button</a>-->
                                                </div>
                                            </h:link>
                                        </div>
                                    </div>
                                </ui:fragment>
                            </c:forEach>
                        </div>
                    </div>

                </ui:repeat>

            </div>
            <!--/.Slides-->  
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!--carousel end-->
    <!--Daily Specials end-->   

    <!--Trending-->   
    <h1 class="center my-4">#{msg.ClientFrontDoor_Trending}</h1>   

    <!--CONTENT_FLOW-->  
    <h:form id="trendingBookForm">
        <p:contentFlow value="#{indexBackingBean.trendingBooks}" var="trendingBook">
            <h:link id="trendingBookLink" styleClass="content" outcome="book">
                <f:param name="isbn" value="#{trendingBook.isbn}"/>  
                <p:graphicImage value="#{trendingBook.imageFile}" styleClass="content" />
            </h:link>
        </p:contentFlow>  
    </h:form>
    <!--CONTENT_FLOW END-->
    <!--Trending end-->

    <!--Newest Arrivals-->    
    <h1 class="center my-4">#{msg.ClientFrontDoor_NewestArrivals}</h1>

    <!--carousel start-->
    <div class="container my-4">

        <!--Carousel Wrapper-->
        <div id="multi-item-example-2" class="carousel slide carousel-multi-item" data-ride="carousel" >

            <!--Controls-->
            <div class="controls-top center" >
                <h1>
                    <a class="btn-floating" href="#multi-item-example-2" data-slide="prev" style="color: white">                                        
                        <span class="oi oi-chevron-left mr-2" title="chevron-left" style="color: black" aria-hidden="true"></span>
                    </a>
                    <a class="btn-floating" href="#multi-item-example-2" data-slide="next" style="color: white">
                        <span class="oi oi-chevron-right mr-2" title="chevron-right" style="color: black" aria-hidden="true"></span>
                    </a>
                </h1>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example-2" data-slide-to="1"></li>
                <li data-target="#multi-item-example-2" data-slide-to="2"></li> 
            </ol>
            <!--/.Indicators-->

            <ui:param name="newestBooks" value="#{indexBackingBean.newestBooks}" />    
            <!--Slides-->

            <div class="carousel-inner" role="listbox">

                <ui:repeat id="newestBookRepeatId" value="#{newestBooks}" varStatus="status" step="4" var="bookNotInUse" >

                    <ui:param name="bookRowClass" value="#{status.index == 0 ? 'active' : '' }" />

                    <div class="carousel-item #{bookRowClass}">                        
                        <div class="row">   
                            <c:forEach var="i" begin="0" end="3">
                                <ui:param name="newestBook" value="#{newestBooks[status.index+i]}" />
                                <ui:fragment rendered="#{newestBook != null}">
                                    <div class="col-md-3 #{i == 0 ? '' : 'clearfix d-none d-md-block'}">
                                        <div class="card mb-2 p-3">  
                                            <h:link  id="newestBookId" style="color: black;" outcome="book">
                                                <f:param name="isbn" value="#{newestBook.isbn}"/>   
                                                <img class="card-img-top" src="#{newestBook.imageFile}" alt="#{newestBook.title}"/>
                                                <div class="card-body">
                                                    <!--<h6 class="card-title">#{newestBook.title}</h6>-->                                                                                 
                                                    <p class="card-title"> 
                                                        <h:outputText value="#{newestBook.enteredDate}">
                                                            <f:convertDateTime pattern="MMM dd, yyyy" />
                                                        </h:outputText>
                                                    </p>
                                                    <!--<a class="btn btn-outline-secondary">Button</a>-->
                                                </div>
                                            </h:link>
                                        </div>
                                    </div>
                                </ui:fragment>
                            </c:forEach>
                        </div>
                    </div>             


                </ui:repeat>

            </div>
            <!--/.Slides-->  
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!--carousel end-->
    <!--Newest Arrivals end-->   

</ui:composition>