<!-- Author: Liam Harbec -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
       
    <div class="col mt-5">
        <h4>#{msg.Login_Login}</h4>
        
        <h:form id="loginForm">
            <div>
                <div class="form-group mx-5 text-left">
                    <label for="emailInput">*#{msg.Login_Email}</label>
                    <h:inputText class="form-control"
                                id="emailInput"
                                a:placeholder="#{msg.Login_EmailPlaceholder}"
                                value="#{loginBackingBean.email}"
                                required="true"
                                requiredMessage="#{msg.Login_LoginEmailNull}"
                                validatorMessage="#{msg.Login_LoginEmailFormat}">
                        <f:ajax event="blur" render="emailError"/>
                        <f:validateRegex pattern="^[A-Za-z0-9+_.-]+@(.+)\.[A-Za-z0-9]{2,6}$"/>
                    </h:inputText>
                </div>
                <h:message id="emailError" for="emailInput" style="color: red"/>

                <div class="form-group mx-5 text-left">
                    <label for="passwordInput">*#{msg.Login_Password}</label>
                    <h:inputSecret class="form-control"
                                id="passwordInput"
                                a:placeholder="#{msg.Login_PasswordPlaceholder}"
                                value="#{loginBackingBean.password}"
                                required="true"
                                requiredMessage="#{msg.Login_LoginPasswordNull}">
                        <f:ajax event="blur" render="passwordError"/>
                    </h:inputSecret>
                </div>
                <h:message id="passwordError" for="passwordInput" style="color: red"/>
            </div>
            
            <h:commandButton type="submit" class="btn btn-primary mx-5 px-5"
                             id="loginButton"
                             binding="#{loginBackingBean.loginButton}"
                             value="#{msg.Login_Login}"
                             action="#{loginBackingBean.login()}"/><br/>
            <h:message id="loginError" for="loginButton" style="color: red; list-style-type: none;"/>
        </h:form>
        
        
        
        <div class="mt-3">
            <h:outputLink value="registration.xhtml">#{msg.Login_RegisterHere}</h:outputLink>
        </div>
    </div>
</ui:composition>