<!-- Author: Liam Harbec -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="col mt-5">
        <h4>#{msg.Registration_Register}</h4>
        
        <h:form class="mt-3">
            <div class="row mx-3">
                <div class="col divider-right px-5">
                    <div class="form-group text-left">
                        <label for="titleInput">*#{msg.Registration_Title}</label>
                        <h:selectOneMenu class="form-control"
                                         id="titleInput"
                                         required="true"
                                         requiredMessage="#{msg.Registration_Required}"
                                         value="#{registrationBackingBean.title}"> 
                            <f:selectItem noSelectionOption="true" itemLabel="--#{msg.Registration_Select}--"/> 
                            <f:selectItem itemValue="mr" itemLabel="#{msg.Registration_Mr}"/> 
                            <f:selectItem itemValue="ms" itemLabel="#{msg.Registration_Ms}"/> 
                            <f:selectItem itemValue="mrs" itemLabel="#{msg.Registration_Mrs}"/>
                            <f:selectItem itemValue="mx" itemLabel="#{msg.Registration_Mx}"/>
                            <f:validateRequired/>
                        </h:selectOneMenu>
                    </div>
                    <h:message id="titleInputError" for="titleInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="firstnameInput">*#{msg.Registration_FirstName}</label>
                        <h:inputText class="form-control"
                                     id="firstnameInput"
                                     a:placeholder="#{msg.Registration_FirstNamePlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.firstName}">
                            <f:validateLength maximum="45"/>
                            <f:ajax event="blur" render="firstnameInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="firstnameInputError" for="firstnameInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="lastnameInput">*#{msg.Registration_LastName}</label>
                        <h:inputText class="form-control"
                                     id="lastnameInput"
                                     a:placeholder="#{msg.Registration_LastNamePlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.lastName}">
                            <f:validateLength maximum="45"/>
                            <f:ajax event="blur" render="lastnameInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="lastnameInputError" for="lastnameInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="emailInput">*#{msg.Registration_Email}</label>
                        <!-- Email regex from
                        https://stackoverflow.com/questions/7875108/email-validation-using-regular-expression-in-jsf-2-primefaces-->
                        <h:inputText class="form-control"
                                     id="emailInput"
                                     a:placeholder="#{msg.Registration_EmailPlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Login_LoginEmailFormat}"
                                     binding="#{email}"
                                     value="#{registrationBackingBean.client.email}">
                            <f:validateLength maximum="320"/>
                            <f:validateRegex pattern="^[A-Za-z0-9+_.-]+@(.+)\.[A-Za-z0-9]{2,6}$"/>
                            <f:ajax event="blur" render="emailInputError"/>
                            <f:ajax event="blur" execute="hiddenEmail emailInput" render="emailUsedError"/>
                        </h:inputText>
                    </div>
                    <h:inputHidden value="true" id="hiddenEmail">
                        <f:validator validatorId="emailVerificationValidator"/>
                        <f:attribute name="email" value="#{email}"/>
                        <f:attribute name="allEmails" value="#{registrationBackingBean.allEmails}"/>
                    </h:inputHidden>
                    <h:message id="emailInputError" for="emailInput" style="color: red"/>
                    <h:message id="emailUsedError" for="hiddenEmail" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="passwordInput">*#{msg.Registration_Password}</label>
                        <h:inputSecret class="form-control"
                                       id="passwordInput"
                                       a:placeholder="#{msg.Registration_PasswordPlaceholder}"
                                       required="true"
                                       requiredMessage="#{msg.Registration_Required}"
                                       value="#{registrationBackingBean.password}"
                                       maxlength="45">
                            <f:ajax event="blur" render="passwordInputError"/>
                        </h:inputSecret>
                    </div>
                    <h:message id="passwordInputError" for="passwordInput" style="color: red"/>
                    
                    
                    <div class="form-group text-left">
                        <label for="passwordConfirmInput">*#{msg.Registration_PasswordConfirm}</label>
                        <h:inputSecret class="form-control"
                                       id="passwordConfirmInput"
                                       a:placeholder="#{msg.Registration_PasswordConfirmPlaceholder}"
                                       required="true"
                                       requiredMessage="#{msg.Registration_Required}"
                                       validator="#{registrationBackingBean.verifyPasswordConfirmMatches}"
                                       value="#{registrationBackingBean.passwordConfirm}"
                                       maxlength="45">
                            <f:ajax event="blur" render="passwordConfirmInputError"/>
                        </h:inputSecret>
                    </div>
                    <h:message id="passwordConfirmInputError" for="passwordConfirmInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="companyNameInput">#{msg.Registration_Company}</label>
                        <h:inputText class="form-control"
                                     id="companyNameInput"
                                     a:placeholder="#{msg.Registration_CompanyPlaceholder}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.companyName}">
                            <f:validateLength maximum="45"/>
                            <f:ajax event="blur" render="companyNameInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="companyNameInputError" for="companyNameInput" style="color: red"/>
                </div>

                
                
                <div class="col divider-left px-5">
                    <div class="form-group text-left">
                        <label for="address1Input">*#{msg.Registration_Address1}</label>
                        <h:inputText class="form-control"
                                     id="address1Input"
                                     a:placeholder="#{msg.Registration_Address1Placeholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.address1}">
                            <f:validateLength maximum="500"/>
                            <f:ajax event="blur" render="address1InputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="address1InputError" for="address1Input" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="address2Input">#{msg.Registration_Address2}</label>
                        <h:inputText class="form-control"
                                     id="address2Input"
                                     a:placeholder="#{msg.Registration_Address2Placeholder}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.address2}">
                            <f:validateLength maximum="500"/>
                            <f:ajax event="blur" render="address2InputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="address2InputError" for="address2Input" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="addressHomePhoneInput">*#{msg.Registration_HomePhone}</label>
                        <h:inputText class="form-control"
                                     id="homePhoneInput"
                                     a:placeholder="#{msg.Registration_HomePhonePlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.homeTelephone}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[0-9]{10,20}$"/>
                            <f:ajax event="blur" render="homePhoneInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="homePhoneInputError" for="homePhoneInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="cellPhoneInput">*#{msg.Registration_CellPhone}</label>
                        <h:inputText class="form-control"
                                     id="cellPhoneInput"
                                     a:placeholder="#{msg.Registration_CellPhonePlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.cellTelephone}">
                            <f:validateLength maximum="45"/>
                            <f:validateRegex pattern="^[0-9]{10,20}$"/>
                            <f:ajax event="blur" render="cellPhoneInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="cellPhoneInputError" for="cellPhoneInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="addressCityInput">*#{msg.Registration_City}</label>
                        <h:inputText class="form-control"
                                     id="cityInput"
                                     a:placeholder="#{msg.Registration_CityPlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.city}">
                            <f:validateLength maximum="100"/>
                            <f:ajax event="blur" render="cityInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="cityInputError" for="cityInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="provinceTerritoryInput">*#{msg.Registration_Province}</label>
                        <h:selectOneMenu class="form-control"
                                         id="provinceTerritoryInput"
                                         required="true"
                                         requiredMessage="#{msg.Registration_Required}"
                                         value="#{registrationBackingBean.province}">
                            <f:selectItem itemLabel="--#{msg.Registration_Select}--"/> 
                            <f:selectItem itemValue="Alberta" itemLabel="#{msg.Registration_AB}"/>
                            <f:selectItem itemValue="British Columbia" itemLabel="#{msg.Registration_BC}"/>
                            <f:selectItem itemValue="Manitoba" itemLabel="#{msg.Registration_MB}"/>
                            <f:selectItem itemValue="New Brunswick" itemLabel="#{msg.Registration_NB}"/>
                            <f:selectItem itemValue="Newfoundland and Labrador" itemLabel="#{msg.Registration_NL}"/>
                            <f:selectItem itemValue="Northwest Territories" itemLabel="#{msg.Registration_NWT}"/>
                            <f:selectItem itemValue="Nova Scotia" itemLabel="#{msg.Registration_NS}"/>
                            <f:selectItem itemValue="Nunavut" itemLabel="#{msg.Registration_NV}"/>
                            <f:selectItem itemValue="Ontario" itemLabel="#{msg.Registration_ON}"/>
                            <f:selectItem itemValue="Prince Edward Island" itemLabel="#{msg.Registration_PEI}"/>
                            <f:selectItem itemValue="Quebec" itemLabel="#{msg.Registration_QC}"/>
                            <f:selectItem itemValue="Saskatchewan" itemLabel="#{msg.Registration_SK}"/>
                            <f:selectItem itemValue="Yukon" itemLabel="#{msg.Registration_YK}"/>
                            <f:validateRequired/>
                        </h:selectOneMenu>
                    </div>
                    <h:message id="provinceTerritoryInputError" for="provinceTerritoryInput" style="color: red"/>
                    
                    <div class="form-group text-left">
                        <label for="postalCodeInput">*#{msg.Registration_PostalCode}</label>
                        <h:inputText class="form-control"
                                     id="postalCodeInput"
                                     a:placeholder="#{msg.Registration_PostalCodePlaceholder}"
                                     required="true"
                                     requiredMessage="#{msg.Registration_Required}"
                                     validatorMessage="#{msg.Registration_Invalid}"
                                     value="#{registrationBackingBean.client.postalCode}">
                            <f:validateLength minimum="6" maximum="6"/>
                            <f:validateRegex pattern="[a-zA-Z][0-9][a-zA-Z][0-9][a-zA-Z][0-9]" />
                            <f:ajax event="blur" render="address1PostalCodeInputError"/>
                        </h:inputText>
                    </div>
                    <h:message id="postalCodeInputError" for="postalCodeInput" style="color: red"/>
                </div>
            </div>
            <h:commandButton type="submit"
                             class="form-control btn btn-primary my-3"
                             value="#{msg.Registration_Register}"
                             action="#{registrationBackingBean.createClient()}"/>
        </h:form>
    </div>
</ui:composition>