<!-- Author: Liam Harbec -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <hr class="mx-5 mt-5"/>
    <div class="text-left my-5">
        <h1 class="ml-5">#{msg.ReviewConfirm_ThankYou}</h1>
    </div>
    
    <hr class="mx-5"/>
    
    <h4 class="mt-5" style="color: gray;">
        #{msg.ReviewConfirm_Submitted}
    </h4>
    <h6 class="mt-3" style="color: gray;">
        #{msg.ReviewConfirm_ReturnHome}
    </h6>
    
</ui:composition>