<!-- Author: Liam Harbec -->

<!-- Note: As XML does not support &nbsp, I had to use the hexadecimal notation of (&#160;) in certain places instead-->
<!--Sourced from: https://stackoverflow.com/questions/13012327/error-parsing-page-xhtml-error-tracedline-42-the-entity-nbsp-was-referenc -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- Initialize book backing bean -->
    #{bookBackingBean.setBook(bookJpaController.findBook(reviewBackingBean.isbnFromMap))}
    
    <h3 class="mt-5">#{msg.Review_WriteReview}</h3>
    <div class="row center" style="width: 50%; margin: auto;">
        <p:graphicImage value="/#{bookBackingBean.book.imageFile}" styleClass="content" width="65px" height="100px"/>
        <p class="text-break text-wrap">&#160;&#160;#{bookBackingBean.book.title}</p>
    </div>

    <hr class="m-4"/>

    <h:form class="m-4">
        <div class="row center">
            <h5>#{msg.Review_YourRating}&#160;&#160;</h5>
            <h:selectOneRadio
                id="reviewRating"
                value="#{reviewBackingBean.review.rating}"
                required="true"
                requiredMessage="#{msg.Review_RatingRequired}">
                <f:selectItem itemLabel="&#160;&#160;1&#160;&#160;" itemValue="1" />
                <f:selectItem itemLabel="&#160;&#160;2&#160;&#160;" itemValue="2" />
                <f:selectItem itemLabel="&#160;&#160;3&#160;&#160;" itemValue="3" />
                <f:selectItem itemLabel="&#160;&#160;4&#160;&#160;" itemValue="4" />
                <f:selectItem itemLabel="&#160;&#160;5&#160;&#160;" itemValue="5" />
            </h:selectOneRadio>
        </div>
        <h:message id="ratingError" for="reviewRating" style="color: red"/>
        <hr/>
        <div class="text-left">
            <h5 class="mt-5">#{msg.Review_WriteMessage}</h5>
            <!-- Passthrough/placeholder for JSF tags from
            https://stackoverflow.com/questions/8494264/how-to-add-placeholder-attribute-to-jsf-input-component -->
            <h:inputTextarea id="reviewMessage" class="form-control"
                             rows="8"
                             required="true"
                             requiredMessage="#{msg.Review_MessageRequired}"
                             value="#{reviewBackingBean.review.reviewText}"
                             a:placeholder="#{msg.Review_WriteMessagePlaceholder}"
                             validatorMessage="#{msg.Review_MessageLength}">
                <f:ajax event="blur" render="messageError"/>
                <f:validateLength minimum="1" maximum="65535"/>
            </h:inputTextarea>
            <h:message class="center" id="messageError" for="reviewMessage" style="color: red"/>
            
            <h:commandButton
                class="btn btn-primary mt-3 form-control"
                id="reviewButton"
                binding="#{reviewBackingBean.reviewButton}"
                value="#{msg.Review_Submit}"
                action="#{reviewBackingBean.createReview(bookJpaController.findBook(reviewBackingBean.isbnFromMap))}"/>
            <h:message class="center" id="loginError" for="reviewButton" style="color: red; list-style-type: none;"/>
        </div>
    </h:form>
</ui:composition>