<!-- Author: Svitlana Myronova -->

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:fragment rendered="#{searchBackingBean.paginator.pagesTotal == 0}">
        <h3 class="mt-5">No matches</h3>
    </ui:fragment>

    <h:form> 
        <ui:fragment rendered="#{searchBackingBean.paginator.pagesTotal != 0}">
            <div class="my-5">
                <h:commandButton value="&lt; prev" action="#{searchBackingBean.paginator.prev()}" class="btn btn-secondary" />
                <h:outputText value="#{searchBackingBean.paginator.pageIndex} / #{searchBackingBean.paginator.pagesTotal}" style="font-weight: bold;" class="px-3" />
                <h:commandButton value="next &gt;" action="#{searchBackingBean.paginator.next()}" class="btn btn-secondary" />
                <h:inputHidden value="#{searchBackingBean.paginator.pageIndex}"/>
            </div>
        </ui:fragment>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <ui:repeat value="#{searchBackingBean.paginator.model}" var="book">
                    <div class= "col-auto my-3">
                        <div class="card" style="width:11rem;">
                            <h:link style="color: black;" outcome="book">
                                <f:param name="isbn" value="#{book.isbn}"/>
                                <img src="#{book.imageFile}" alt="#{book.title}" class="img-fluid"/>
                                <p>#{book.title}</p>
                                <ui:fragment rendered="#{book.salePrice.doubleValue()>0.0001}">
                                    <p>
                                        <h:outputText value="#{book.salePrice}" style="font-weight: bold; color: red;">
                                            <f:convertNumber type="number" maxFractionDigits="2" />
                                            <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                        </h:outputText>
                                    </p>
                                </ui:fragment>
                                <p>
                                    <h:outputText value="#{book.listPrice}" style="font-weight: bold; #{book.salePrice.doubleValue()>0.0001 ? 'text-decoration: line-through;' : ''}} ">
                                        <f:convertNumber type="number" maxFractionDigits="2" />
                                        <f:convertNumber currencySymbol = "CDN$" type = "currency" />
                                    </h:outputText>
                                </p>
                            </h:link>
                        </div>
                    </div>
                </ui:repeat>
            </div>
        </div>
        <ui:fragment rendered="#{searchBackingBean.paginator.pagesTotal != 0}">
            <div class="my-5">
                <h:commandButton value="&lt; prev" action="#{searchBackingBean.paginator.prev()}" class="btn btn-secondary" />
                <h:outputText value="#{searchBackingBean.paginator.pageIndex} / #{searchBackingBean.paginator.pagesTotal}" style="font-weight: bold;" class="px-3" />
                <h:commandButton value="next &gt;" action="#{searchBackingBean.paginator.next()}" class="btn btn-secondary" />
                <h:inputHidden value="#{searchBackingBean.paginator.pageIndex}"/>
            </div>
        </ui:fragment>
    </h:form>

</ui:composition>
