<!-- Author: Liam Harbec, Svitlana Myronova -->

<!-- Note: As XML does not support &nbsp, I had to use the hexadecimal notation of (&#160;) in certain places instead-->
<!--Sourced from: https://stackoverflow.com/questions/13012327/error-parsing-page-xhtml-error-tracedline-42-the-entity-nbsp-was-referenc -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <!-- Hamburger menu when decreasing screen size -->
    <a class="navbar-brand" href="#"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Hamburger End -->

    <div class="collapse navbar-collapse" id="headerMenu">
        <!-- Website Icon -->
        <a class="btn btn-light mobile-fill" href="index.xhtml" style="border-color: green" id="logo">
            <p:graphicImage value="/images/logo.png" styleClass="content" width="250px" height="50px"/>
        </a>
        <!-- Website Icon End -->

        <!--Svitlana Myronova-->
        <!-- Search -->
        <h:form class="input-group mx-3 mobile-fill mobile-center" id="searchFormId">
            <div class="container-fluid">
                <div class="input-group mx-3 mobile-fill mobile-center">
                    <h:selectOneMenu id="searchFilter" class="btn btn-secondary dropdown-toggle input-group-prepend" value="#{searchBackingBean.filter}">
                        <f:selectItem itemValue="title" itemLabel="#{msg.Border_Search_Title}" />
                        <f:selectItem itemValue="author" itemLabel="#{msg.Border_Search_Author}" />
                        <f:selectItem itemValue="publisher" itemLabel="#{msg.Border_Search_Publisher}" />
                        <f:selectItem itemValue="isbn" itemLabel="#{msg.Border_Search_ISBN}" />
                    </h:selectOneMenu>
                    <h:inputText id="searchQuery" class="form-control" value="#{searchBackingBean.query}" required="true" requiredMessage="#{msg.Search_requiredMessage}" a:placeholder="#{msg.Border_Search}">
                        <f:validateLength minimum="1" />
                    </h:inputText>
                    <div class="input-group-append">
                        <h:commandButton id="searchBtn" class="btn btn-secondary" action="#{searchBackingBean.search()}" value="#{msg.Search_search}">
                            <!--<i class="oi oi-magnifying-glass"/>--> 
                        </h:commandButton>
                    </div>
                </div> 
                <div class="mx-3">
                    <h:message for = "searchQuery" style = "color:red" />
                </div>
            </div>
        </h:form>
        <!-- Search End-->
        
                
        <!-- Language -->
        <div class="mobile-center">
                <ui:fragment rendered="#{languageBackingBean.isCurrentLanguageEnglish() == false}">                
                    <h:form id="languageEnFormId">
                        <h:commandLink  id="languageEnComLink" action="#{languageBackingBean.switchTo('en')}" value="#{msg.Border_EnglishLanguage}">
                            <!--<i class="flag-icon flag-icon-gb" />-->
                        </h:commandLink>
                    </h:form>
                </ui:fragment>
                <ui:fragment rendered="#{languageBackingBean.isCurrentLanguageEnglish() == true}">
                    <h:form id="languageFrFormId">
                        <h:commandLink id="languageFrComLink" action="#{languageBackingBean.switchTo('fr')}" value="#{msg.Border_FrenchLanguage}">
                            <!--<i class="flag-icon flag-icon-fr" />-->
                        </h:commandLink>
                    </h:form>                 
                </ui:fragment>
        </div>
        <!-- Language End -->

        
        <div class="mobile-center">
            <a class="nav-link" href="help.xhtml">#{msg.Help_Help}</a>
        </div>
        

        <!-- Liam Harbec -->
        <!-- Login and Register -->
        <div class="mobile-center">
            <h:outputLink id="logInOutputLinkId" class="nav-link text-center"
                          value="login.xhtml"
                          style="width: 150px"
                          rendered="#{sessionScope.client == null}">
                #{msg.Border_Greeting}<br/>#{msg.Border_SignIn}
            </h:outputLink>
            <div class="dropdown nav-link">
                <h:outputLink class="btn btn-primary dropdown-toggle"
                              type="button"
                              rendered="#{sessionScope.client != null}"
                              a:data-toggle="dropdown">
                    #{msg.Border_Welcome}<br/>#{sessionScope.client.firstName}!
                </h:outputLink>
                <div class="dropdown-menu">
                    <!-- My Books -->
                    <div class="mobile-center">
                        <h:outputLink class="dropdown-item btn btn-primary text-center"
                                      value="mybooks.xhtml"
                                      style="color: #007bff"
                                      rendered="#{sessionScope.client != null}">
                            #{msg.Border_MyBooks}
                        </h:outputLink>
                    </div>
                    <!-- My Books End -->
                    
                    <!-- Management -->
                    <div class="mobile-center">
                        <h:outputLink class="dropdown-item btn btn-primary text-center"
                                      target="_blank"
                                      value="management/"
                                      style="color: #007bff"
                                      rendered="#{sessionScope.client.manager == true}">
                            #{msg.Border_Manager}
                        </h:outputLink>
                    </div>
                    <!-- Management End -->
                    
                    <!-- Logout -->
                    <h:form>
                        <h:commandButton class="dropdown-item btn btn-primary text-center"
                                         value="#{msg.Border_Logout}"
                                         style="color: #007bff"
                                         action="#{sessionBackingBean.logOutUser()}"/>
                    </h:form>
                    <!-- Logout End -->
                </div>
            </div>
        </div>
        <!-- Login and Register End -->


        <!-- Cart -->
        <div>
            <a class="btn btn-secondary center pr-3" href="mycart.xhtml">
                <i class="pi pi-shopping-cart" style="font-size: 2em"/>
                &#160;#{msg.Border_ViewCart}
            </a>
        </div>
        <!-- Cart End -->
    </div>
</ui:composition>