<!-- Author: Liam Harbec -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">    
    <!-- Hamburger menu when decreasing screen size -->
    <a class="navbar-brand" href="#"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Hamburger End -->

    <div class="collapse navbar-collapse center" id="headerMenu">
        
        <!-- Website Icon -->
        <a class="btn btn-light mobile-fill" href="index.xhtml" style="border-color: green">
            <p:graphicImage value="/images/logo.png" styleClass="content" width="250px" height="50px"/>
        </a>
        <!-- Website Icon End -->
        
    </div>
</ui:composition>