<!-- Author: Liam Harbec, Svitlana Myronova -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- Initialize advertisement backing bean -->
    #{advertisementBackingBean.generateAdvertisement()}

    <!-- Author Svitlana Myronova -->
    <h5>#{msg.Border_Browse}</h5>

    <div class="list-group">
        <ui:repeat id="browseByGenreUiId" value="#{leftNavBackingBean.genres}" var="genre">

            <h:form id="browseByGenreFormId">
                <h:commandLink  id="genreId"  styleClass="list-group-item list-group-item-action" value="#{genre.genreTitle}" action="#{booksOfGenreBackingBean.show(genre.id)}" />
            </h:form>
        </ui:repeat>
        <h:form>
            <h:commandLink styleClass="list-group-item list-group-item-action" value="All Genres" action="#{booksOfGenreBackingBean.show(-1)}" />
        </h:form>
    </div>

    <div class="info mt-5">
        <h6>News</h6>
        <p>Here is some news about something important that happened in the last week.</p>
    </div>

    <div class="mt-5 banner">
        <a id="leftAdsId" href="#{advertisementBackingBean.advertisement.siteUrl}">
            <img src="#{advertisementBackingBean.advertisement.imgUrl}" width="70%" height="70%" border="0"/>
        </a>
    </div>
</ui:composition>