<!-- Authors: Liam Harbec, Svitlana Myronova -->
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      style="height:100%; margin:0;"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><ui:insert name="pageTitle" /></title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link href="resources/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet" />
        <link href="resources/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet" />
        <link href="resources/css/pagebordersheaderonly.css" rel="stylesheet" />

    </h:head>
    <h:body>
        <!-- Svitlana Myronova -->
        <!--for changing the language-->
        <f:view locale="#{languageBackingBean.locale}">
            <!-- Liam Harbec -->
            <!-- Header -->
            <nav class="navbar navbar-expand-sm navbar-light sticky-top header" style="background-color: lightblue">
                <ui:include src="headericononly.xhtml"/>
            </nav>

            <div class="container-fluid text-center full-height">
                <div class="row content">

                    <!-- Page to be displayed -->
                    <div class="col">
                        <ui:insert name="content"/>
                    </div>

                </div>
            </div>
        </f:view>
    </h:body>
</html>
