<!-- Author: Liam Harbec, Svitlana Myronova -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui" 
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <!-- Initialize advertisement and survey backing beans -->
    #{advertisementBackingBean.generateAdvertisement()}
    #{surveyBackingBean.generateSurvey()}
    
    <div class="info">
        <h6>#{surveyBackingBean.survey.surveyText}</h6>
        <h:form rendered="#{sessionScope.surveySubmitted != true}">
            <div class="col text-left">
                <!--As XML does not support &nbsp, I had to use the hexadecimal notation instead-->
                <!--Sourced from: https://stackoverflow.com/questions/13012327/error-parsing-page-xhtml-error-tracedline-42-the-entity-nbsp-was-referenc -->
                <h:selectOneRadio layout="pageDirection"
                                  value="#{surveyBackingBean.answer}">
                    <f:selectItem itemLabel="&#160;&#160;#{surveyBackingBean.survey.answer1}" itemValue="1"/>
                    <f:selectItem itemLabel="&#160;&#160;#{surveyBackingBean.survey.answer2}" itemValue="2"/>
                    <f:selectItem itemLabel="&#160;&#160;#{surveyBackingBean.survey.answer3}" itemValue="3" />
                    <f:selectItem itemLabel="&#160;&#160;#{surveyBackingBean.survey.answer4}" itemValue="4" />
                </h:selectOneRadio>
            </div>
            <h:commandButton type="submit" class="btn btn-secondary"
                             value="#{msg.Border_SurveySubmit}"
                             action="#{surveyBackingBean.submitSurvey()}"/>
        </h:form>
        <h:panelGroup rendered="#{sessionScope.surveySubmitted == true}">
            <div class="col text-left">
                <ui:repeat var="result" value="#{surveyBackingBean.surveyResults}" varStatus="status">
                    <h:outputText
                        rendered="#{status.index + 1 != surveyBackingBean.answer}"
                        value="#{status.index + 1}.&#160;&#160;&#160;#{surveyBackingBean.getResultAsPercent(result)}% (#{result})"/>
                    <h:outputText
                        rendered="#{status.index + 1 == surveyBackingBean.answer}"
                        style="font-weight: bold;"
                        value="#{status.index + 1}.&#160;&#160;&#160;#{surveyBackingBean.getResultAsPercent(result)}% (#{result})"/>
                    <br/>
                </ui:repeat>
            </div>
        </h:panelGroup>
    </div>

    <div class="mt-5 banner">
        <a id="rightAdsId" href="#{advertisementBackingBean.advertisement.siteUrl}">
            <img src="#{advertisementBackingBean.advertisement.imgUrl}" width="70%" height="70%" border="0"/>
        </a>
    </div>
</ui:composition>