<!-- Author: Liam Harbec -->

<ui:composition
    template="/WEB-INF/client/borderelements/pageborders.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewParam name="isbn" value="${bookBackingBean.isbn}"/>
        <f:event type="preRenderView" listener="#{bookBackingBean.writeCookie}" />
    </f:metadata>

    <ui:define name="pageTitle">
        #{msg.Title_Book}
    </ui:define>

    <ui:define name="content">
        <ui:include src="/WEB-INF/client/pages/bookpage.xhtml" />
    </ui:define>

</ui:composition>
