<!-- Author: Svitlana Myronova -->

<ui:composition
    template="/WEB-INF/client/borderelements/pageborders.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="pageTitle">
        #{msg.Title_BooksOfGenre}
    </ui:define>

    <ui:define name="content">
        <ui:include src="/WEB-INF/client/pages/booksofgenrepage.xhtml" />
    </ui:define>

</ui:composition>