<!-- Author: Liam Harbec -->

<ui:composition
    template="/WEB-INF/client/borderelements/pageborders.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:define name="pageTitle">
        #{msg.Title_ReviewConfirm}
    </ui:define>
    
    <ui:define name="content">
        <ui:include src="/WEB-INF/client/pages/reviewconfirmpage.xhtml" />
    </ui:define>
    
</ui:composition>
